#### CODE
SBERT(x1='Aku Sedih', x2='Aku Senang') # Mono
SBERT(x1='Aku Sedih', x2='I am Happy') # Cross

#### Mono ICL
Predict the sentiment of the the following sentences:
Aku senang => positive
Aku Bangga => positive
Aku Sedih => ???

#### Cross ICL
Predict the sentiment of the the following sentences:
I am happy => positive
You are sad => pegative
Aku Sedih => ???

#### Mono / Cross IIA
Predict the sentiment of the the following sentences:
I am happy => Aku Senang
You are sad => Kamu Sedih
Aku Sedih => ???

#### Cross ICL + IIA
Predict the sentiment of the the following sentences:
I am happy=> positive
You are sad => pegative

I am happy => Aku Senang
You are sad => Kamu Sedih

Aku Sedih => ???

#### Cross ICL + IIA + IOA
Predict the sentiment of the the following sentences:
I am happy => positive
You are sad => pegative
You are sad => pegative

I am happy => Aku Senang
You are sad => Kamu Sedih
You are sad => Kamu Sedih

In Indonesian, positive means positif and negative means negatif

Aku Sedih => ???

#### ITC
Predict the sentiment of the the following sentences:
| Ind Text | Ind Label | Eng Label | Eng Text |
------------------------------------------------
| Aku Senang |  Negative | Negative | I am Happy |
| You are sad |  Positive | Positive | I am Sad |
| You are sad |  Positive | Positive | I am Sad |
| Aku Sedih |  ?????? | |

In [34]:
import pandas as pd
import numpy as np
import glob
from IPython.display import display, HTML

# ICL

In [18]:
dfs = []
for path in glob.glob('../metrics/*.csv'):
    meta = path.split('/')[-1][:-4].split('_')
    dset_name, model_name = meta[1], meta[2]
    
    icl_meta = meta[3][4:]
    num_icl = int(icl_meta[-1])
    icl_type = icl_meta.split('-')[0]
    icl_idx = icl_meta[len(icl_type)+1:-2]
        
    iia_meta = meta[4][4:]
    num_iia = int(iia_meta[-1])
    iia_type = iia_meta.split('-')[0]
    iia_idx = iia_meta[len(iia_type)+1:-2]
    
    use_ioa = meta[5].split('-')[1]
    
    # print(f'{dset_name} {model_name} {use_ioa}')
    # print(f'{icl_type} {num_icl} {icl_idx}')
    # print(f'{iia_type} {num_iia} {iia_idx}')
    
    # Load Metrics
    df = pd.read_csv(path)
    df = df.T
    df.columns = df.head(1).values[0]
    df = df.iloc[1:]

    # Inject Metadata
    df['model_name'] = model_name
    df['num_icl'] = num_icl
    df['icl_type'] = icl_type
    df['icl_idx'] = icl_idx
    df['num_iia'] = num_iia
    df['iia_type'] = iia_type
    df['iia_idx'] = iia_idx
    df['use_ioa'] = use_ioa
    
    df['accuracy'] = pd.to_numeric(df['accuracy'])
    df['macro_f1'] = pd.to_numeric(df['macro_f1'])
    df['weighted_f1'] = pd.to_numeric(df['weighted_f1'])
    
    # Change Dataset Experiments
    df['dataset'] = df['dataset'].apply(lambda x: 'tweetsentimulti' if x == 'tweet_senti_multi' else x)
    
    # Remove Unused Experiments
    df = df.loc[(df['icl_type'] != 'cross') | (~df['icl_idx'].isin(['tf-idf', 'count'])),:]
    df = df.loc[(df['iia_type'] != 'cross') | (~df['iia_idx'].isin(['tf-idf', 'count'])),:]
    df = df.loc[(df['lang'] != 'eng'),:]
    dfs.append(df)
    
df = pd.concat(dfs)

In [5]:
df.to_csv('icl_results.csv', index=False)

In [33]:
df.loc[(df['icl_type'] == 'none') & (df['use_ioa'] == 'False'),:].groupby(
    ['dataset','model_name']
)[['accuracy', 'macro_f1', 'weighted_f1']].mean()

                                accuracy  macro_f1  weighted_f1
dataset             model_name
americasnli         bloom-7b1   0.335009  0.183323     0.183294
                    xglm-7.5B   0.335779  0.295794     0.295804
americasnli-spa     bloom-7b1   0.337471  0.238957     0.238927
                    xglm-7.5B   0.338525  0.270561     0.270580
masakhanews         bloom-7b1   0.541977  0.499331     0.531356
                    xglm-7.5B   0.455480  0.411192     0.438588
nusatranslation     bloom-7b1   0.691545  0.613276     0.682906
                    xglm-7.5B   0.586094  0.560478     0.600564
nusatranslation-ind bloom-7b1   0.687813  0.558422     0.653980
                    xglm-7.5B   0.650608  0.583103     0.651173
tweetsentimulti     bloom-7b1   0.448378  0.428912     0.428912
                    xglm-7.5B   0.448009  0.406417     0.406417

In [8]:
df.groupby(['model_name', 'dataset']).size()

model_name  dataset
bloom-7b1   americasnli            296
            americasnli-spa        296
            masakhanews            396
            nusatranslation        264
            nusatranslation-ind    264
            tweetsentimulti        308
xglm-7.5B   americasnli            296
            americasnli-spa        296
            masakhanews            396
            nusatranslation        264
            nusatranslation-ind    264
            tweetsentimulti        308
dtype: int64

In [9]:
df.groupby(['dataset', 'lang']).size()

dataset              lang
americasnli          aym     88
                     bzd     40
                     cni     40
                     gn      88
                     hch     40
                     nah     40
                     oto     88
                     quy     88
                     shp     40
                     tar     40
americasnli-spa      aym     88
                     bzd     40
                     cni     40
                     gn      88
                     hch     40
                     nah     40
                     oto     88
                     quy     88
                     shp     40
                     tar     40
masakhanews          amh     88
                     hau     88
                     ibo     88
                     lug     88
                     pcm     88
                     sna     88
                     swa     88
                     xho     88
                     yor     88
nusatranslation      btk     88
                     jav     88
                     mad     88
                     mak     88
                     min     88
                     sun     88
nusatranslation-ind  btk     88
                     jav     88
                     mad     88
                     mak     88
                     min     88
                     sun     88
tweetsentimulti      arb     88
                     deu     88
                     fra     88
                     hin     88
                     ita     88
                     por     88
                     spa     88
dtype: int64

In [10]:
for dset in df['dataset'].unique():
    print(dset)
    display(df.loc[
        (df['dataset'] == dset) & (df['model_name'] == 'bloom-7b1'),:
    ].sort_values(['dataset', 'icl_type', 'iia_type', 'use_ioa'], ascending=False).reset_index(drop=True).groupby(
        ['dataset', 'icl_type', 'iia_type', 'icl_idx', 'iia_idx', 'num_icl', 'num_iia', 'use_ioa']
    )[['accuracy', 'macro_f1', 'weighted_f1']].mean())

masakhanews

                                                                                             accuracy  \
dataset     icl_type iia_type icl_idx            iia_idx            num_icl num_iia use_ioa
masakhanews cross    cross    sbert              sbert              3       3       False    0.561995
                                                                                    Target   0.378480
                                                                                    True     0.271840
                     mono     sbert              sbert              3       3       False    0.570330
                                                                                    Target   0.375364
                                                                                    True     0.297698
                     none     count$tf-idf$sbert random             3       0       False    0.571759
                              sbert              random             3       0       False    0.579809
                                                                                    Target   0.396602
                                                                                    True     0.307508
            mono     cross    sbert              sbert              3       3       False    0.686563
                                                                                    Target   0.598273
                                                                                    True     0.302950
                     mono     random             random             3       3       False    0.566352
                                                                                    Target   0.333483
                                                                                    True     0.290122
                              sbert              sbert              3       3       False    0.698081
                                                                                    Target   0.582857
                                                                                    True     0.299425
                     none     count              random             3       0       False    0.675234
                              count$tf-idf$sbert random             3       0       False    0.700138
                              random             random             3       0       False    0.572081
                                                                                    Target   0.359786
                                                                                    True     0.264934
                              sbert              random             3       0       False    0.674767
                                                                                    Target   0.620948
                                                                                    True     0.272009
                              tf-idf             random             3       0       False    0.684143
            none     cross    random             count$tf-idf$sbert 0       3       False    0.539126
                                                 sbert              0       3       False    0.519455
                                                                                    Target   0.284209
                                                                                    True     0.264681
                     mono     random             count              0       3       False    0.540033
                                                 count$tf-idf$sbert 0       3       False    0.559851
                                                 random             0       3       False    0.542531
                                                                                    Target   0.276160
                                                                                    True     0.263815
                                                 sbert              0       3       False    0.533219
                                                                                    Target   0.278864
                                                                                    True     0.256115
                                                 tf-idf             0       3       False    0.541510
                     none     random             random             0       0       False    0.560091
                                                                                    Target   0.273971
                                                                                    True     0.273805

                                                                                             macro_f1  \
dataset     icl_type iia_type icl_idx            iia_idx            num_icl num_iia use_ioa
masakhanews cross    cross    sbert              sbert              3       3       False    0.521095
                                                                                    Target   0.350538
                                                                                    True     0.206252
                     mono     sbert              sbert              3       3       False    0.537703
                                                                                    Target   0.345357
                                                                                    True     0.248808
                     none     count$tf-idf$sbert random             3       0       False    0.529099
                              sbert              random             3       0       False    0.535342
                                                                                    Target   0.354678
                                                                                    True     0.256386
            mono     cross    sbert              sbert              3       3       False    0.662393
                                                                                    Target   0.568720
                                                                                    True     0.255407
                     mono     random             random             3       3       False    0.520287
                                                                                    Target   0.291625
                                                                                    True     0.230611
                              sbert              sbert              3       3       False    0.671890
                                                                                    Target   0.556980
                                                                                    True     0.251060
                     none     count              random             3       0       False    0.637074
                              count$tf-idf$sbert random             3       0       False    0.665837
                              random             random             3       0       False    0.518353
                                                                                    Target   0.307068
                                                                                    True     0.198151
                              sbert              random             3       0       False    0.640464
                                                                                    Target   0.588510
                                                                                    True     0.222311
                              tf-idf             random             3       0       False    0.648239
            none     cross    random             count$tf-idf$sbert 0       3       False    0.492332
                                                 sbert              0       3       False    0.475976
                                                                                    Target   0.216125
                                                                                    True     0.204352
                     mono     random             count              0       3       False    0.500445
                                                 count$tf-idf$sbert 0       3       False    0.520257
                                                 random             0       3       False    0.502378
                                                                                    Target   0.210258
                                                                                    True     0.205495
                                                 sbert              0       3       False    0.499667
                                                                                    Target   0.210330
                                                                                    True     0.209031
                                                 tf-idf             0       3       False    0.499934
                     none     random             random             0       0       False    0.503658
                                                                                    Target   0.214997
                                                                                    True     0.217407

                                                                                             weighted_f1
dataset     icl_type iia_type icl_idx            iia_idx            num_icl num_iia use_ioa
masakhanews cross    cross    sbert              sbert              3       3       False       0.553486
                                                                                    Target      0.370854
                                                                                    True        0.223552
                     mono     sbert              sbert              3       3       False       0.567292
                                                                                    Target      0.366209
                                                                                    True        0.258026
                     none     count$tf-idf$sbert random             3       0       False       0.565171
                              sbert              random             3       0       False       0.573231
                                                                                    Target      0.385225
                                                                                    True        0.271277
            mono     cross    sbert              sbert              3       3       False       0.691798
                                                                                    Target      0.601572
                                                                                    True        0.263064
                     mono     random             random             3       3       False       0.560995
                                                                                    Target      0.322882
                                                                                    True        0.245447
                              sbert              sbert              3       3       False       0.701634
                                                                                    Target      0.589548
                                                                                    True        0.258908
                     none     count              random             3       0       False       0.675727
                              count$tf-idf$sbert random             3       0       False       0.699888
                              random             random             3       0       False       0.562416
                                                                                    Target      0.343711
                                                                                    True        0.199275
                              sbert              random             3       0       False       0.675646
                                                                                    Target      0.617561
                                                                                    True        0.218198
                              tf-idf             random             3       0       False       0.684713
            none     cross    random             count$tf-idf$sbert 0       3       False       0.527865
                                                 sbert              0       3       False       0.509346
                                                                                    Target      0.223742
                                                                                    True        0.212957
                     mono     random             count              0       3       False       0.530767
                                                 count$tf-idf$sbert 0       3       False       0.553513
                                                 random             0       3       False       0.533569
                                                                                    Target      0.214762
                                                                                    True        0.211044
                                                 sbert              0       3       False       0.529205
                                                                                    Target      0.217916
                                                                                    True        0.213662
                                                 tf-idf             0       3       False       0.530354
                     none     random             random             0       0       False       0.536231
                                                                                    Target      0.209359
                                                                                    True        0.227732

americasnli

                                                                                             accuracy  \
dataset     icl_type iia_type icl_idx            iia_idx            num_icl num_iia use_ioa
americasnli cross    cross    sbert              sbert              3       3       False    0.339031
                                                                                    Target   0.342888
                                                                                    True     0.331221
                     mono     sbert              sbert              3       3       False    0.351830
                                                                                    Target   0.346227
                                                                                    True     0.332557
                     none     count$tf-idf$sbert random             3       0       False    0.342347
                              sbert              random             3       0       False    0.340602
                                                                                    Target   0.343219
                                                                                    True     0.331888
            mono     cross    sbert              sbert              3       3       False    0.348615
                                                                                    Target   0.344558
                                                                                    True     0.335889
                     mono     random             random             3       3       False    0.331451
                                                                                    Target   0.320225
                                                                                    True     0.332890
                              sbert              sbert              3       3       False    0.346246
                                                                                    Target   0.355555
                                                                                    True     0.340556
                     none     count              random             3       0       False    0.356281
                              count$tf-idf$sbert random             3       0       False    0.344783
                              random             random             3       0       False    0.329317
                                                                                    Target   0.339872
                                                                                    True     0.334224
                              sbert              random             3       0       False    0.341287
                                                                                    Target   0.356224
                                                                                    True     0.336557
                              tf-idf             random             3       0       False    0.348530
            none     cross    random             count$tf-idf$sbert 0       3       False    0.335163
                                                 sbert              0       3       False    0.335822
                                                                                    Target   0.332556
                                                                                    True     0.334560
                     mono     random             count              0       3       False    0.335295
                                                 count$tf-idf$sbert 0       3       False    0.334228
                                                 random             0       3       False    0.333559
                                                                                    Target   0.318554
                                                                                    True     0.329217
                                                 sbert              0       3       False    0.337818
                                                                                    Target   0.329888
                                                                                    True     0.338557
                                                 tf-idf             0       3       False    0.334895
                     none     random             random             0       0       False    0.333289
                                                                                    Target   0.336220
                                                                                    True     0.333893

                                                                                             macro_f1  \
dataset     icl_type iia_type icl_idx            iia_idx            num_icl num_iia use_ioa
americasnli cross    cross    sbert              sbert              3       3       False    0.303453
                                                                                    Target   0.308145
                                                                                    True     0.220259
                     mono     sbert              sbert              3       3       False    0.337012
                                                                                    Target   0.329916
                                                                                    True     0.236211
                     none     count$tf-idf$sbert random             3       0       False    0.340954
                              sbert              random             3       0       False    0.338846
                                                                                    Target   0.322793
                                                                                    True     0.186917
            mono     cross    sbert              sbert              3       3       False    0.329963
                                                                                    Target   0.323280
                                                                                    True     0.230175
                     mono     random             random             3       3       False    0.320782
                                                                                    Target   0.311323
                                                                                    True     0.195918
                              sbert              sbert              3       3       False    0.342505
                                                                                    Target   0.337548
                                                                                    True     0.221288
                     none     count              random             3       0       False    0.351558
                              count$tf-idf$sbert random             3       0       False    0.336852
                              random             random             3       0       False    0.316438
                                                                                    Target   0.326332
                                                                                    True     0.212389
                              sbert              random             3       0       False    0.324324
                                                                                    Target   0.347155
                                                                                    True     0.181698
                              tf-idf             random             3       0       False    0.343623
            none     cross    random             count$tf-idf$sbert 0       3       False    0.199917
                                                 sbert              0       3       False    0.184158
                                                                                    Target   0.242784
                                                                                    True     0.245857
                     mono     random             count              0       3       False    0.173153
                                                 count$tf-idf$sbert 0       3       False    0.179557
                                                 random             0       3       False    0.183041
                                                                                    Target   0.224599
                                                                                    True     0.206537
                                                 sbert              0       3       False    0.196189
                                                                                    Target   0.240370
                                                                                    True     0.234983
                                                 tf-idf             0       3       False    0.183915
                     none     random             random             0       0       False    0.166650
                                                                                    Target   0.212160
                                                                                    True     0.197743

                                                                                             weighted_f1
dataset     icl_type iia_type icl_idx            iia_idx            num_icl num_iia use_ioa
americasnli cross    cross    sbert              sbert              3       3       False       0.303438
                                                                                    Target      0.308192
                                                                                    True        0.220370
                     mono     sbert              sbert              3       3       False       0.336998
                                                                                    Target      0.329937
                                                                                    True        0.236322
                     none     count$tf-idf$sbert random             3       0       False       0.340940
                              sbert              random             3       0       False       0.338840
                                                                                    Target      0.322797
                                                                                    True        0.187023
            mono     cross    sbert              sbert              3       3       False       0.329985
                                                                                    Target      0.323325
                                                                                    True        0.230287
                     mono     random             random             3       3       False       0.320763
                                                                                    Target      0.311341
                                                                                    True        0.196024
                              sbert              sbert              3       3       False       0.342490
                                                                                    Target      0.337576
                                                                                    True        0.221390
                     none     count              random             3       0       False       0.351541
                              count$tf-idf$sbert random             3       0       False       0.336864
                              random             random             3       0       False       0.316404
                                                                                    Target      0.326374
                                                                                    True        0.212500
                              sbert              random             3       0       False       0.324285
                                                                                    Target      0.347176
                                                                                    True        0.181809
                              tf-idf             random             3       0       False       0.343609
            none     cross    random             count$tf-idf$sbert 0       3       False       0.199881
                                                 sbert              0       3       False       0.184135
                                                                                    Target      0.242893
                                                                                    True        0.245962
                     mono     random             count              0       3       False       0.173125
                                                 count$tf-idf$sbert 0       3       False       0.179529
                                                 random             0       3       False       0.183009
                                                                                    Target      0.224709
                                                                                    True        0.206603
                                                 sbert              0       3       False       0.196170
                                                                                    Target      0.240477
                                                                                    True        0.235094
                                                 tf-idf             0       3       False       0.183875
                     none     random             random             0       0       False       0.166628
                                                                                    Target      0.212267
                                                                                    True        0.197806

americasnli-spa

                                                                                                 accuracy  \
dataset         icl_type iia_type icl_idx            iia_idx            num_icl num_iia use_ioa
americasnli-spa cross    cross    sbert              sbert              3       3       False    0.337159
                                                                                        Target   0.339914
                                                                                        True     0.340234
                         mono     sbert              sbert              3       3       False    0.347737
                                                                                        Target   0.336228
                                                                                        True     0.330888
                         none     count$tf-idf$sbert random             3       0       False    0.328373
                                  sbert              random             3       0       False    0.324766
                                                                                        Target   0.335573
                                                                                        True     0.328224
                mono     cross    sbert              sbert              3       3       False    0.339548
                                                                                        Target   0.352557
                                                                                        True     0.337554
                         mono     random             random             3       3       False    0.335442
                                                                                        Target   0.323880
                                                                                        True     0.330549
                                  sbert              sbert              3       3       False    0.343050
                                                                                        Target   0.352563
                                                                                        True     0.347891
                         none     count              random             3       0       False    0.350251
                                  count$tf-idf$sbert random             3       0       False    0.339703
                                  random             random             3       0       False    0.324465
                                                                                        Target   0.338898
                                                                                        True     0.326890
                                  sbert              random             3       0       False    0.341474
                                                                                        Target   0.343548
                                                                                        True     0.335555
                                  tf-idf             random             3       0       False    0.338993
                none     cross    random             count$tf-idf$sbert 0       3       False    0.332745
                                                     sbert              0       3       False    0.333958
                                                                                        Target   0.335225
                                                                                        True     0.335225
                         mono     random             count              0       3       False    0.336598
                                                     count$tf-idf$sbert 0       3       False    0.339017
                                                     random             0       3       False    0.336886
                                                                                        Target   0.331553
                                                                                        True     0.333236
                                                     sbert              0       3       False    0.350658
                                                                                        Target   0.341235
                                                                                        True     0.330887
                                                     tf-idf             0       3       False    0.337293
                         none     random             random             0       0       False    0.332618
                                                                                        Target   0.332889
                                                                                        True     0.334569

                                                                                                 macro_f1  \
dataset         icl_type iia_type icl_idx            iia_idx            num_icl num_iia use_ioa
americasnli-spa cross    cross    sbert              sbert              3       3       False    0.323106
                                                                                        Target   0.305349
                                                                                        True     0.266111
                         mono     sbert              sbert              3       3       False    0.311066
                                                                                        Target   0.311520
                                                                                        True     0.259446
                         none     count$tf-idf$sbert random             3       0       False    0.291230
                                  sbert              random             3       0       False    0.286717
                                                                                        Target   0.286499
                                                                                        True     0.234270
                mono     cross    sbert              sbert              3       3       False    0.315890
                                                                                        Target   0.333364
                                                                                        True     0.243429
                         mono     random             random             3       3       False    0.305721
                                                                                        Target   0.307278
                                                                                        True     0.216254
                                  sbert              sbert              3       3       False    0.326514
                                                                                        Target   0.331315
                                                                                        True     0.262727
                         none     count              random             3       0       False    0.331609
                                  count$tf-idf$sbert random             3       0       False    0.315653
                                  random             random             3       0       False    0.320330
                                                                                        Target   0.325399
                                                                                        True     0.213338
                                  sbert              random             3       0       False    0.300952
                                                                                        Target   0.330991
                                                                                        True     0.228536
                                  tf-idf             random             3       0       False    0.310488
                none     cross    random             count$tf-idf$sbert 0       3       False    0.251922
                                                     sbert              0       3       False    0.252916
                                                                                        Target   0.183509
                                                                                        True     0.196539
                         mono     random             count              0       3       False    0.231732
                                                     count$tf-idf$sbert 0       3       False    0.223332
                                                     random             0       3       False    0.263004
                                                                                        Target   0.185877
                                                                                        True     0.253589
                                                     sbert              0       3       False    0.276441
                                                                                        Target   0.207267
                                                                                        True     0.248624
                                                     tf-idf             0       3       False    0.237778
                         none     random             random             0       0       False    0.174529
                                                                                        Target   0.171033
                                                                                        True     0.235207

                                                                                                 weighted_f1
dataset         icl_type iia_type icl_idx            iia_idx            num_icl num_iia use_ioa
americasnli-spa cross    cross    sbert              sbert              3       3       False       0.323139
                                                                                        Target      0.305355
                                                                                        True        0.266178
                         mono     sbert              sbert              3       3       False       0.311113
                                                                                        Target      0.311549
                                                                                        True        0.259500
                         none     count$tf-idf$sbert random             3       0       False       0.291290
                                  sbert              random             3       0       False       0.286775
                                                                                        Target      0.286527
                                                                                        True        0.234325
                mono     cross    sbert              sbert              3       3       False       0.315928
                                                                                        Target      0.333410
                                                                                        True        0.243439
                         mono     random             random             3       3       False       0.305769
                                                                                        Target      0.307266
                                                                                        True        0.216243
                                  sbert              sbert              3       3       False       0.326540
                                                                                        Target      0.331354
                                                                                        True        0.262786
                         none     count              random             3       0       False       0.331613
                                  count$tf-idf$sbert random             3       0       False       0.315691
                                  random             random             3       0       False       0.320336
                                                                                        Target      0.325443
                                                                                        True        0.213380
                                  sbert              random             3       0       False       0.300996
                                                                                        Target      0.331027
                                                                                        True        0.228563
                                  tf-idf             random             3       0       False       0.310510
                none     cross    random             count$tf-idf$sbert 0       3       False       0.251909
                                                     sbert              0       3       False       0.252904
                                                                                        Target      0.183493
                                                                                        True        0.196538
                         mono     random             count              0       3       False       0.231692
                                                     count$tf-idf$sbert 0       3       False       0.223281
                                                     random             0       3       False       0.262999
                                                                                        Target      0.185850
                                                                                        True        0.253681
                                                     sbert              0       3       False       0.276441
                                                                                        Target      0.207294
                                                                                        True        0.248721
                                                     tf-idf             0       3       False       0.237743
                         none     random             random             0       0       False       0.174447
                                                                                        Target      0.170991
                                                                                        True        0.235277

nusatranslation

                                                                                                 accuracy  \
dataset         icl_type iia_type icl_idx            iia_idx            num_icl num_iia use_ioa
nusatranslation cross    cross    sbert              sbert              3       3       False    0.702222
                                                                                        Target   0.688889
                                                                                        True     0.449861
                         mono     sbert              sbert              3       3       False    0.715417
                                                                                        Target   0.684444
                                                                                        True     0.670833
                         none     count$tf-idf$sbert random             3       0       False    0.705139
                                  sbert              random             3       0       False    0.735139
                                                                                        Target   0.649444
                                                                                        True     0.494444
                mono     cross    sbert              sbert              3       3       False    0.721111
                                                                                        Target   0.631944
                                                                                        True     0.705000
                         mono     random             random             3       3       False    0.641250
                                                                                        Target   0.701250
                                                                                        True     0.704028
                                  sbert              sbert              3       3       False    0.736389
                                                                                        Target   0.631111
                                                                                        True     0.706806
                         none     count              random             3       0       False    0.693750
                                  count$tf-idf$sbert random             3       0       False    0.718333
                                  random             random             3       0       False    0.719028
                                                                                        Target   0.643056
                                                                                        True     0.715972
                                  sbert              random             3       0       False    0.682500
                                                                                        Target   0.678333
                                                                                        True     0.709167
                                  tf-idf             random             3       0       False    0.699722
                none     cross    random             count$tf-idf$sbert 0       3       False    0.708889
                                                     sbert              0       3       False    0.662639
                                                                                        Target   0.696250
                                                                                        True     0.704722
                         mono     random             count              0       3       False    0.708750
                                                     count$tf-idf$sbert 0       3       False    0.714028
                                                     random             0       3       False    0.664028
                                                                                        Target   0.707639
                                                                                        True     0.704444
                                                     sbert              0       3       False    0.680000
                                                                                        Target   0.703750
                                                                                        True     0.610556
                                                     tf-idf             0       3       False    0.703889
                         none     random             random             0       0       False    0.690139
                                                                                        Target   0.705278
                                                                                        True     0.702083

                                                                                                 macro_f1  \
dataset         icl_type iia_type icl_idx            iia_idx            num_icl num_iia use_ioa
nusatranslation cross    cross    sbert              sbert              3       3       False    0.576913
                                                                                        Target   0.561508
                                                                                        True     0.444041
                         mono     sbert              sbert              3       3       False    0.576445
                                                                                        Target   0.602564
                                                                                        True     0.485627
                         none     count$tf-idf$sbert random             3       0       False    0.653242
                                  sbert              random             3       0       False    0.610338
                                                                                        Target   0.613372
                                                                                        True     0.489499
                mono     cross    sbert              sbert              3       3       False    0.594186
                                                                                        Target   0.593640
                                                                                        True     0.487805
                         mono     random             random             3       3       False    0.617449
                                                                                        Target   0.536207
                                                                                        True     0.473637
                                  sbert              sbert              3       3       False    0.601672
                                                                                        Target   0.601655
                                                                                        True     0.472505
                         none     count              random             3       0       False    0.632018
                                  count$tf-idf$sbert random             3       0       False    0.548195
                                  random             random             3       0       False    0.549798
                                                                                        Target   0.579638
                                                                                        True     0.507804
                                  sbert              random             3       0       False    0.638458
                                                                                        Target   0.598359
                                                                                        True     0.489432
                                  tf-idf             random             3       0       False    0.636700
                none     cross    random             count$tf-idf$sbert 0       3       False    0.583041
                                                     sbert              0       3       False    0.618955
                                                                                        Target   0.555334
                                                                                        True     0.468395
                         mono     random             count              0       3       False    0.623568
                                                     count$tf-idf$sbert 0       3       False    0.568525
                                                     random             0       3       False    0.622181
                                                                                        Target   0.460966
                                                                                        True     0.455457
                                                     sbert              0       3       False    0.634018
                                                                                        Target   0.453716
                                                                                        True     0.564520
                                                     tf-idf             0       3       False    0.622161
                         none     random             random             0       0       False    0.633761
                                                                                        Target   0.573068
                                                                                        True     0.454480

                                                                                                 weighted_f1
dataset         icl_type iia_type icl_idx            iia_idx            num_icl num_iia use_ioa
nusatranslation cross    cross    sbert              sbert              3       3       False       0.671637
                                                                                        Target      0.658586
                                                                                        True        0.427788
                         mono     sbert              sbert              3       3       False       0.676192
                                                                                        Target      0.676717
                                                                                        True        0.603756
                         none     count$tf-idf$sbert random             3       0       False       0.707910
                                  sbert              random             3       0       False       0.701065
                                                                                        Target      0.661199
                                                                                        True        0.491468
                mono     cross    sbert              sbert              3       3       False       0.687542
                                                                                        Target      0.644349
                                                                                        True        0.625010
                         mono     random             random             3       3       False       0.654765
                                                                                        Target      0.649922
                                                                                        True        0.616905
                                  sbert              sbert              3       3       False       0.697005
                                                                                        Target      0.645400
                                                                                        True        0.617165
                         none     count              random             3       0       False       0.693214
                                  count$tf-idf$sbert random             3       0       False       0.662304
                                  random             random             3       0       False       0.663404
                                                                                        Target      0.646748
                                                                                        True        0.639527
                                  sbert              random             3       0       False       0.688385
                                                                                        Target      0.671504
                                                                                        True        0.627285
                                  tf-idf             random             3       0       False       0.698142
                none     cross    random             count$tf-idf$sbert 0       3       False       0.677245
                                                     sbert              0       3       False       0.671217
                                                                                        Target      0.658267
                                                                                        True        0.614276
                         mono     random             count              0       3       False       0.697033
                                                     count$tf-idf$sbert 0       3       False       0.671566
                                                     random             0       3       False       0.672827
                                                                                        Target      0.611039
                                                                                        True        0.606994
                                                     sbert              0       3       False       0.686417
                                                                                        Target      0.605827
                                                                                        True        0.620354
                                                     tf-idf             0       3       False       0.694280
                         none     random             random             0       0       False       0.692661
                                                                                        Target      0.670569
                                                                                        True        0.605736

tweetsentimulti

                                                                                                 accuracy  \
dataset         icl_type iia_type icl_idx            iia_idx            num_icl num_iia use_ioa
tweetsentimulti cross    cross    sbert              sbert              3       3       False    0.505090
                                                                                        Target   0.460427
                                                                                        True     0.418555
                         mono     sbert              sbert              3       3       False    0.493924
                                                                                        Target   0.464696
                                                                                        True     0.361576
                         none     count$tf-idf$sbert random             3       0       False    0.544828
                                  sbert              random             3       0       False    0.533333
                                                                                        Target   0.508539
                                                                                        True     0.382266
                mono     cross    sbert              sbert              3       3       False    0.521346
                                                                                        Target   0.498030
                                                                                        True     0.409195
                         mono     random             random             3       3       False    0.454680
                                                                                        Target   0.420033
                                                                                        True     0.408210
                                  sbert              sbert              3       3       False    0.525287
                                                                                        Target   0.505090
                                                                                        True     0.371100
                         none     count              random             3       0       False    0.492775
                                  count$tf-idf$sbert random             3       0       False    0.533990
                                  random             random             3       0       False    0.455665
                                                                                        Target   0.419376
                                                                                        True     0.362726
                                  sbert              random             3       0       False    0.532841
                                                                                        Target   0.519048
                                                                                        True     0.352217
                                  tf-idf             random             3       0       False    0.497701
                none     cross    random             count$tf-idf$sbert 0       3       False    0.427750
                                                     sbert              0       3       False    0.427094
                                                                                        Target   0.375369
                                                                                        True     0.382102
                         mono     random             count              0       3       False    0.448933
                                                     count$tf-idf$sbert 0       3       False    0.446634
                                                     random             0       3       False    0.449261
                                                                                        Target   0.387356
                                                                                        True     0.390640
                                                     sbert              0       3       False    0.445813
                                                                                        Target   0.379146
                                                                                        True     0.394910
                                                     tf-idf             0       3       False    0.454187
                         none     random             random             0       0       False    0.487356
                                                                                        Target   0.403448
                                                                                        True     0.378161

                                                                                                 macro_f1  \
dataset         icl_type iia_type icl_idx            iia_idx            num_icl num_iia use_ioa
tweetsentimulti cross    cross    sbert              sbert              3       3       False    0.476405
                                                                                        Target   0.446911
                                                                                        True     0.385457
                         mono     sbert              sbert              3       3       False    0.470199
                                                                                        Target   0.454666
                                                                                        True     0.308865
                         none     count$tf-idf$sbert random             3       0       False    0.532715
                                  sbert              random             3       0       False    0.532942
                                                                                        Target   0.479643
                                                                                        True     0.318738
                mono     cross    sbert              sbert              3       3       False    0.512831
                                                                                        Target   0.492646
                                                                                        True     0.357350
                         mono     random             random             3       3       False    0.448700
                                                                                        Target   0.404748
                                                                                        True     0.374686
                                  sbert              sbert              3       3       False    0.520829
                                                                                        Target   0.498335
                                                                                        True     0.312622
                         none     count              random             3       0       False    0.484842
                                  count$tf-idf$sbert random             3       0       False    0.533856
                                  random             random             3       0       False    0.452411
                                                                                        Target   0.406422
                                                                                        True     0.275234
                                  sbert              random             3       0       False    0.532503
                                                                                        Target   0.507792
                                                                                        True     0.230011
                                  tf-idf             random             3       0       False    0.493621
                none     cross    random             count$tf-idf$sbert 0       3       False    0.422530
                                                     sbert              0       3       False    0.421103
                                                                                        Target   0.328223
                                                                                        True     0.347765
                         mono     random             count              0       3       False    0.425191
                                                     count$tf-idf$sbert 0       3       False    0.431259
                                                     random             0       3       False    0.435251
                                                                                        Target   0.352554
                                                                                        True     0.355569
                                                     sbert              0       3       False    0.432567
                                                                                        Target   0.343704
                                                                                        True     0.374133
                                                     tf-idf             0       3       False    0.433847
                         none     random             random             0       0       False    0.429549
                                                                                        Target   0.340509
                                                                                        True     0.325939

                                                                                                 weighted_f1
dataset         icl_type iia_type icl_idx            iia_idx            num_icl num_iia use_ioa
tweetsentimulti cross    cross    sbert              sbert              3       3       False       0.476405
                                                                                        Target      0.446911
                                                                                        True        0.385457
                         mono     sbert              sbert              3       3       False       0.470199
                                                                                        Target      0.454666
                                                                                        True        0.308865
                         none     count$tf-idf$sbert random             3       0       False       0.532715
                                  sbert              random             3       0       False       0.532942
                                                                                        Target      0.479643
                                                                                        True        0.318738
                mono     cross    sbert              sbert              3       3       False       0.512831
                                                                                        Target      0.492646
                                                                                        True        0.357350
                         mono     random             random             3       3       False       0.448700
                                                                                        Target      0.404748
                                                                                        True        0.374686
                                  sbert              sbert              3       3       False       0.520829
                                                                                        Target      0.498335
                                                                                        True        0.312622
                         none     count              random             3       0       False       0.484842
                                  count$tf-idf$sbert random             3       0       False       0.533856
                                  random             random             3       0       False       0.452411
                                                                                        Target      0.406422
                                                                                        True        0.275234
                                  sbert              random             3       0       False       0.532503
                                                                                        Target      0.507792
                                                                                        True        0.230011
                                  tf-idf             random             3       0       False       0.493621
                none     cross    random             count$tf-idf$sbert 0       3       False       0.422530
                                                     sbert              0       3       False       0.421103
                                                                                        Target      0.328223
                                                                                        True        0.347765
                         mono     random             count              0       3       False       0.425191
                                                     count$tf-idf$sbert 0       3       False       0.431259
                                                     random             0       3       False       0.435251
                                                                                        Target      0.352554
                                                                                        True        0.355569
                                                     sbert              0       3       False       0.432567
                                                                                        Target      0.343704
                                                                                        True        0.374133
                                                     tf-idf             0       3       False       0.433847
                         none     random             random             0       0       False       0.429549
                                                                                        Target      0.340509
                                                                                        True        0.325939

nusatranslation-ind

                                                                                                     accuracy  \
dataset             icl_type iia_type icl_idx            iia_idx            num_icl num_iia use_ioa
nusatranslation-ind cross    cross    sbert              sbert              3       3       False    0.700139
                                                                                            Target   0.612639
                                                                                            True     0.647778
                             mono     sbert              sbert              3       3       False    0.655000
                                                                                            Target   0.656667
                                                                                            True     0.669861
                             none     count$tf-idf$sbert random             3       0       False    0.734722
                                      sbert              random             3       0       False    0.735694
                                                                                            Target   0.728333
                                                                                            True     0.707222
                    mono     cross    sbert              sbert              3       3       False    0.633750
                                                                                            Target   0.655417
                                                                                            True     0.359583
                             mono     random             random             3       3       False    0.621667
                                                                                            Target   0.452639
                                                                                            True     0.342500
                                      sbert              sbert              3       3       False    0.685972
                                                                                            Target   0.663472
                                                                                            True     0.367500
                             none     count              random             3       0       False    0.707639
                                      count$tf-idf$sbert random             3       0       False    0.694583
                                      random             random             3       0       False    0.723056
                                                                                            Target   0.721806
                                                                                            True     0.536944
                                      sbert              random             3       0       False    0.697222
                                                                                            Target   0.720139
                                                                                            True     0.712500
                                      tf-idf             random             3       0       False    0.708056
                    none     cross    random             count$tf-idf$sbert 0       3       False    0.643333
                                                         sbert              0       3       False    0.645694
                                                                                            Target   0.513750
                                                                                            True     0.395556
                             mono     random             count              0       3       False    0.699028
                                                         count$tf-idf$sbert 0       3       False    0.708611
                                                         random             0       3       False    0.703889
                                                                                            Target   0.506806
                                                                                            True     0.674583
                                                         sbert              0       3       False    0.711111
                                                                                            Target   0.537917
                                                                                            True     0.671806
                                                         tf-idf             0       3       False    0.705000
                             none     random             random             0       0       False    0.685833
                                                                                            Target   0.678750
                                                                                            True     0.699028

                                                                                                     macro_f1  \
dataset             icl_type iia_type icl_idx            iia_idx            num_icl num_iia use_ioa
nusatranslation-ind cross    cross    sbert              sbert              3       3       False    0.555861
                                                                                            Target   0.581386
                                                                                            True     0.590049
                             mono     sbert              sbert              3       3       False    0.613146
                                                                                            Target   0.592413
                                                                                            True     0.571149
                             none     count$tf-idf$sbert random             3       0       False    0.580302
                                      sbert              random             3       0       False    0.581801
                                                                                            Target   0.616169
                                                                                            True     0.517790
                    mono     cross    sbert              sbert              3       3       False    0.607722
                                                                                            Target   0.605866
                                                                                            True     0.325702
                             mono     random             random             3       3       False    0.599119
                                                                                            Target   0.448235
                                                                                            True     0.301478
                                      sbert              sbert              3       3       False    0.645370
                                                                                            Target   0.623553
                                                                                            True     0.335029
                             none     count              random             3       0       False    0.594734
                                      count$tf-idf$sbert random             3       0       False    0.639174
                                      random             random             3       0       False    0.537714
                                                                                            Target   0.557530
                                                                                            True     0.534661
                                      sbert              random             3       0       False    0.643935
                                                                                            Target   0.553266
                                                                                            True     0.494473
                                      tf-idf             random             3       0       False    0.608662
                    none     cross    random             count$tf-idf$sbert 0       3       False    0.595226
                                                         sbert              0       3       False    0.596998
                                                                                            Target   0.512296
                                                                                            True     0.377502
                             mono     random             count              0       3       False    0.533431
                                                         count$tf-idf$sbert 0       3       False    0.524615
                                                         random             0       3       False    0.521019
                                                                                            Target   0.504998
                                                                                            True     0.580500
                                                         sbert              0       3       False    0.527481
                                                                                            Target   0.534261
                                                                                            True     0.568692
                                                         tf-idf             0       3       False    0.540164
                             none     random             random             0       0       False    0.628440
                                                                                            Target   0.612394
                                                                                            True     0.531934

                                                                                                     weighted_f1
dataset             icl_type iia_type icl_idx            iia_idx            num_icl num_iia use_ioa
nusatranslation-ind cross    cross    sbert              sbert              3       3       False       0.660007
                                                                                            Target      0.627891
                                                                                            True        0.652981
                             mono     sbert              sbert              3       3       False       0.664200
                                                                                            Target      0.658611
                                                                                            True        0.655194
                             none     count$tf-idf$sbert random             3       0       False       0.685030
                                      sbert              random             3       0       False       0.686189
                                                                                            Target      0.701456
                                                                                            True        0.642170
                    mono     cross    sbert              sbert              3       3       False       0.646121
                                                                                            Target      0.663135
                                                                                            True        0.264424
                             mono     random             random             3       3       False       0.635816
                                                                                            Target      0.430290
                                                                                            True        0.232271
                                      sbert              sbert              3       3       False       0.692792
                                                                                            Target      0.673882
                                                                                            True        0.275330
                             none     count              random             3       0       False       0.682599
                                      count$tf-idf$sbert random             3       0       False       0.696091
                                      random             random             3       0       False       0.658195
                                                                                            Target      0.668378
                                                                                            True        0.545485
                                      sbert              random             3       0       False       0.699185
                                                                                            Target      0.665606
                                                                                            True        0.631042
                                      tf-idf             random             3       0       False       0.689599
                    none     cross    random             count$tf-idf$sbert 0       3       False       0.651845
                                                         sbert              0       3       False       0.653860
                                                                                            Target      0.519028
                                                                                            True        0.335641
                             mono     random             count              0       3       False       0.647735
                                                         count$tf-idf$sbert 0       3       False       0.646254
                                                         random             0       3       False       0.642721
                                                                                            Target      0.510597
                                                                                            True        0.661466
                                                         sbert              0       3       False       0.648634
                                                                                            Target      0.547774
                                                                                            True        0.654561
                                                         tf-idf             0       3       False       0.653375
                             none     random             random             0       0       False       0.687418
                                                                                            Target      0.677670
                                                                                            True        0.646909

In [12]:
for dset in df['dataset'].unique():
    print(dset)
    display(df.loc[
        (df['dataset'] == dset) & (df['model_name'] == 'xglm-7.5B'),:
    ].sort_values(['dataset', 'icl_type', 'iia_type', 'use_ioa'], ascending=False).reset_index(drop=True).groupby(
        ['dataset', 'icl_type', 'iia_type', 'icl_idx', 'iia_idx', 'num_icl', 'num_iia', 'use_ioa']
    )[['accuracy', 'macro_f1', 'weighted_f1']].mean())

masakhanews

                                                                                             accuracy  \
dataset     icl_type iia_type icl_idx            iia_idx            num_icl num_iia use_ioa
masakhanews cross    cross    sbert              sbert              3       3       False    0.543885
                                                                                    Target   0.364381
                                                                                    True     0.318981
                     mono     sbert              sbert              3       3       False    0.554672
                                                                                    Target   0.363117
                                                                                    True     0.318347
                     none     count$tf-idf$sbert random             3       0       False    0.582451
                              sbert              random             3       0       False    0.582991
                                                                                    Target   0.391624
                                                                                    True     0.331273
            mono     cross    sbert              sbert              3       3       False    0.664797
                                                                                    Target   0.571977
                                                                                    True     0.344484
                     mono     random             random             3       3       False    0.510667
                                                                                    Target   0.343354
                                                                                    True     0.308260
                              sbert              sbert              3       3       False    0.662971
                                                                                    Target   0.564102
                                                                                    True     0.330966
                     none     count              random             3       0       False    0.645179
                              count$tf-idf$sbert random             3       0       False    0.668623
                              random             random             3       0       False    0.528734
                                                                                    Target   0.353483
                                                                                    True     0.309874
                              sbert              random             3       0       False    0.648209
                                                                                    Target   0.606429
                                                                                    True     0.344137
                              tf-idf             random             3       0       False    0.655084
            none     cross    random             count$tf-idf$sbert 0       3       False    0.447890
                                                 sbert              0       3       False    0.461811
                                                                                    Target   0.273523
                                                                                    True     0.274370
                     mono     random             count              0       3       False    0.473780
                                                 count$tf-idf$sbert 0       3       False    0.444569
                                                 random             0       3       False    0.428342
                                                                                    Target   0.275807
                                                                                    True     0.271467
                                                 sbert              0       3       False    0.466783
                                                                                    Target   0.273997
                                                                                    True     0.273636
                                                 tf-idf             0       3       False    0.491751
                     none     random             random             0       0       False    0.428912
                                                                                    Target   0.281030
                                                                                    True     0.278920

                                                                                             macro_f1  \
dataset     icl_type iia_type icl_idx            iia_idx            num_icl num_iia use_ioa
masakhanews cross    cross    sbert              sbert              3       3       False    0.504149
                                                                                    Target   0.312261
                                                                                    True     0.254548
                     mono     sbert              sbert              3       3       False    0.514814
                                                                                    Target   0.309527
                                                                                    True     0.249356
                     none     count$tf-idf$sbert random             3       0       False    0.536731
                              sbert              random             3       0       False    0.533107
                                                                                    Target   0.348396
                                                                                    True     0.261045
            mono     cross    sbert              sbert              3       3       False    0.636251
                                                                                    Target   0.540938
                                                                                    True     0.270392
                     mono     random             random             3       3       False    0.470744
                                                                                    Target   0.291160
                                                                                    True     0.241698
                              sbert              sbert              3       3       False    0.629944
                                                                                    Target   0.528962
                                                                                    True     0.257421
                     none     count              random             3       0       False    0.597482
                              count$tf-idf$sbert random             3       0       False    0.637340
                              random             random             3       0       False    0.477465
                                                                                    Target   0.307333
                                                                                    True     0.233785
                              sbert              random             3       0       False    0.610519
                                                                                    Target   0.576939
                                                                                    True     0.261017
                              tf-idf             random             3       0       False    0.620592
            none     cross    random             count$tf-idf$sbert 0       3       False    0.395240
                                                 sbert              0       3       False    0.413464
                                                                                    Target   0.189392
                                                                                    True     0.216854
                     mono     random             count              0       3       False    0.427919
                                                 count$tf-idf$sbert 0       3       False    0.404471
                                                 random             0       3       False    0.397965
                                                                                    Target   0.198702
                                                                                    True     0.227229
                                                 sbert              0       3       False    0.417642
                                                                                    Target   0.193484
                                                                                    True     0.218751
                                                 tf-idf             0       3       False    0.450198
                     none     random             random             0       0       False    0.382639
                                                                                    Target   0.192897
                                                                                    True     0.214619

                                                                                             weighted_f1
dataset     icl_type iia_type icl_idx            iia_idx            num_icl num_iia use_ioa
masakhanews cross    cross    sbert              sbert              3       3       False       0.539484
                                                                                    Target      0.337018
                                                                                    True        0.270633
                     mono     sbert              sbert              3       3       False       0.547829
                                                                                    Target      0.333312
                                                                                    True        0.263213
                     none     count$tf-idf$sbert random             3       0       False       0.571761
                              sbert              random             3       0       False       0.568394
                                                                                    Target      0.374003
                                                                                    True        0.273888
            mono     cross    sbert              sbert              3       3       False       0.666047
                                                                                    Target      0.567189
                                                                                    True        0.286135
                     mono     random             random             3       3       False       0.506075
                                                                                    Target      0.318989
                                                                                    True        0.260053
                              sbert              sbert              3       3       False       0.660123
                                                                                    Target      0.557075
                                                                                    True        0.273740
                     none     count              random             3       0       False       0.637059
                              count$tf-idf$sbert random             3       0       False       0.667675
                              random             random             3       0       False       0.519066
                                                                                    Target      0.340096
                                                                                    True        0.249320
                              sbert              random             3       0       False       0.645056
                                                                                    Target      0.605836
                                                                                    True        0.274343
                              tf-idf             random             3       0       False       0.651504
            none     cross    random             count$tf-idf$sbert 0       3       False       0.427876
                                                 sbert              0       3       False       0.448173
                                                                                    Target      0.199216
                                                                                    True        0.228345
                     mono     random             count              0       3       False       0.454006
                                                 count$tf-idf$sbert 0       3       False       0.432078
                                                 random             0       3       False       0.418889
                                                                                    Target      0.205480
                                                                                    True        0.236854
                                                 sbert              0       3       False       0.449916
                                                                                    Target      0.200530
                                                                                    True        0.235689
                                                 tf-idf             0       3       False       0.480622
                     none     random             random             0       0       False       0.397148
                                                                                    Target      0.199016
                                                                                    True        0.225661

americasnli

                                                                                             accuracy  \
dataset     icl_type iia_type icl_idx            iia_idx            num_icl num_iia use_ioa
americasnli cross    cross    sbert              sbert              3       3       False    0.334891
                                                                                    Target   0.345889
                                                                                    True     0.333884
                     mono     sbert              sbert              3       3       False    0.346319
                                                                                    Target   0.351239
                                                                                    True     0.330545
                     none     count$tf-idf$sbert random             3       0       False    0.342489
                              sbert              random             3       0       False    0.343968
                                                                                    Target   0.339884
                                                                                    True     0.331549
            mono     cross    sbert              sbert              3       3       False    0.352144
                                                                                    Target   0.367900
                                                                                    True     0.327884
                     mono     random             random             3       3       False    0.333154
                                                                                    Target   0.345905
                                                                                    True     0.333561
                              sbert              sbert              3       3       False    0.344259
                                                                                    Target   0.352885
                                                                                    True     0.341900
                     none     count              random             3       0       False    0.358276
                              count$tf-idf$sbert random             3       0       False    0.344129
                              random             random             3       0       False    0.333581
                                                                                    Target   0.331873
                                                                                    True     0.337558
                              sbert              random             3       0       False    0.348803
                                                                                    Target   0.363556
                                                                                    True     0.338556
                              tf-idf             random             3       0       False    0.345837
            none     cross    random             count$tf-idf$sbert 0       3       False    0.334917
                                                 sbert              0       3       False    0.338113
                                                                                    Target   0.338555
                                                                                    True     0.342892
                     mono     random             count              0       3       False    0.334662
                                                 count$tf-idf$sbert 0       3       False    0.331409
                                                 random             0       3       False    0.339574
                                                                                    Target   0.346221
                                                                                    True     0.336230
                                                 sbert              0       3       False    0.339873
                                                                                    Target   0.346558
                                                                                    True     0.346240
                                                 tf-idf             0       3       False    0.333850
                     none     random             random             0       0       False    0.333838
                                                                                    Target   0.334223
                                                                                    True     0.338231

                                                                                             macro_f1  \
dataset     icl_type iia_type icl_idx            iia_idx            num_icl num_iia use_ioa
americasnli cross    cross    sbert              sbert              3       3       False    0.309526
                                                                                    Target   0.314018
                                                                                    True     0.229646
                     mono     sbert              sbert              3       3       False    0.326469
                                                                                    Target   0.339214
                                                                                    True     0.233846
                     none     count$tf-idf$sbert random             3       0       False    0.319443
                              sbert              random             3       0       False    0.319851
                                                                                    Target   0.312226
                                                                                    True     0.235177
            mono     cross    sbert              sbert              3       3       False    0.319425
                                                                                    Target   0.353571
                                                                                    True     0.238795
                     mono     random             random             3       3       False    0.311880
                                                                                    Target   0.327430
                                                                                    True     0.236347
                              sbert              sbert              3       3       False    0.311442
                                                                                    Target   0.320285
                                                                                    True     0.245776
                     none     count              random             3       0       False    0.327249
                              count$tf-idf$sbert random             3       0       False    0.313315
                              random             random             3       0       False    0.307979
                                                                                    Target   0.305753
                                                                                    True     0.235403
                              sbert              random             3       0       False    0.313507
                                                                                    Target   0.334624
                                                                                    True     0.239183
                              tf-idf             random             3       0       False    0.316698
            none     cross    random             count$tf-idf$sbert 0       3       False    0.302932
                                                 sbert              0       3       False    0.318613
                                                                                    Target   0.221367
                                                                                    True     0.252766
                     mono     random             count              0       3       False    0.306684
                                                 count$tf-idf$sbert 0       3       False    0.317115
                                                 random             0       3       False    0.317567
                                                                                    Target   0.242403
                                                                                    True     0.268966
                                                 sbert              0       3       False    0.311823
                                                                                    Target   0.245698
                                                                                    True     0.273662
                                                 tf-idf             0       3       False    0.318122
                     none     random             random             0       0       False    0.173494
                                                                                    Target   0.194927
                                                                                    True     0.237242

                                                                                             weighted_f1
dataset     icl_type iia_type icl_idx            iia_idx            num_icl num_iia use_ioa
americasnli cross    cross    sbert              sbert              3       3       False       0.309493
                                                                                    Target      0.314065
                                                                                    True        0.229730
                     mono     sbert              sbert              3       3       False       0.326423
                                                                                    Target      0.339229
                                                                                    True        0.233903
                     none     count$tf-idf$sbert random             3       0       False       0.319399
                              sbert              random             3       0       False       0.319803
                                                                                    Target      0.312206
                                                                                    True        0.235227
            mono     cross    sbert              sbert              3       3       False       0.319381
                                                                                    Target      0.353587
                                                                                    True        0.238864
                     mono     random             random             3       3       False       0.311840
                                                                                    Target      0.327419
                                                                                    True        0.236400
                              sbert              sbert              3       3       False       0.311406
                                                                                    Target      0.320287
                                                                                    True        0.245839
                     none     count              random             3       0       False       0.327193
                              count$tf-idf$sbert random             3       0       False       0.313271
                              random             random             3       0       False       0.307934
                                                                                    Target      0.305743
                                                                                    True        0.235474
                              sbert              random             3       0       False       0.313459
                                                                                    Target      0.334598
                                                                                    True        0.239240
                              tf-idf             random             3       0       False       0.316646
            none     cross    random             count$tf-idf$sbert 0       3       False       0.302945
                                                 sbert              0       3       False       0.318617
                                                                                    Target      0.221478
                                                                                    True        0.252847
                     mono     random             count              0       3       False       0.306684
                                                 count$tf-idf$sbert 0       3       False       0.317144
                                                 random             0       3       False       0.317572
                                                                                    Target      0.242513
                                                                                    True        0.269046
                                                 sbert              0       3       False       0.311867
                                                                                    Target      0.245807
                                                                                    True        0.273710
                                                 tf-idf             0       3       False       0.318126
                     none     random             random             0       0       False       0.173478
                                                                                    Target      0.195034
                                                                                    True        0.237318

americasnli-spa

                                                                                                 accuracy  \
dataset         icl_type iia_type icl_idx            iia_idx            num_icl num_iia use_ioa
americasnli-spa cross    cross    sbert              sbert              3       3       False    0.339311
                                                                                        Target   0.332894
                                                                                        True     0.325227
                         mono     sbert              sbert              3       3       False    0.331430
                                                                                        Target   0.344572
                                                                                        True     0.350231
                         none     count$tf-idf$sbert random             3       0       False    0.344359
                                  sbert              random             3       0       False    0.337560
                                                                                        Target   0.341234
                                                                                        True     0.343240
                mono     cross    sbert              sbert              3       3       False    0.343837
                                                                                        Target   0.353564
                                                                                        True     0.355901
                         mono     random             random             3       3       False    0.328613
                                                                                        Target   0.343900
                                                                                        True     0.338223
                                  sbert              sbert              3       3       False    0.354927
                                                                                        Target   0.355896
                                                                                        True     0.346235
                         none     count              random             3       0       False    0.351572
                                  count$tf-idf$sbert random             3       0       False    0.349207
                                  random             random             3       0       False    0.337568
                                                                                        Target   0.332564
                                                                                        True     0.330214
                                  sbert              random             3       0       False    0.338603
                                                                                        Target   0.367220
                                                                                        True     0.358909
                                  tf-idf             random             3       0       False    0.350649
                none     cross    random             count$tf-idf$sbert 0       3       False    0.335653
                                                     sbert              0       3       False    0.335680
                                                                                        Target   0.333225
                                                                                        True     0.325209
                         mono     random             count              0       3       False    0.332343
                                                     count$tf-idf$sbert 0       3       False    0.347411
                                                     random             0       3       False    0.339327
                                                                                        Target   0.338221
                                                                                        True     0.343224
                                                     sbert              0       3       False    0.345446
                                                                                        Target   0.346903
                                                                                        True     0.343573
                                                     tf-idf             0       3       False    0.336099
                         none     random             random             0       0       False    0.336238
                                                                                        Target   0.336895
                                                                                        True     0.339225

                                                                                                 macro_f1  \
dataset         icl_type iia_type icl_idx            iia_idx            num_icl num_iia use_ioa
americasnli-spa cross    cross    sbert              sbert              3       3       False    0.324920
                                                                                        Target   0.309055
                                                                                        True     0.290562
                         mono     sbert              sbert              3       3       False    0.325063
                                                                                        Target   0.325350
                                                                                        True     0.313424
                         none     count$tf-idf$sbert random             3       0       False    0.326174
                                  sbert              random             3       0       False    0.328561
                                                                                        Target   0.317508
                                                                                        True     0.301536
                mono     cross    sbert              sbert              3       3       False    0.323678
                                                                                        Target   0.339720
                                                                                        True     0.315003
                         mono     random             random             3       3       False    0.311715
                                                                                        Target   0.334798
                                                                                        True     0.285090
                                  sbert              sbert              3       3       False    0.349014
                                                                                        Target   0.329724
                                                                                        True     0.295923
                         none     count              random             3       0       False    0.336196
                                  count$tf-idf$sbert random             3       0       False    0.325986
                                  random             random             3       0       False    0.326908
                                                                                        Target   0.325621
                                                                                        True     0.278726
                                  sbert              random             3       0       False    0.323585
                                                                                        Target   0.349388
                                                                                        True     0.301150
                                  tf-idf             random             3       0       False    0.324330
                none     cross    random             count$tf-idf$sbert 0       3       False    0.266269
                                                     sbert              0       3       False    0.269698
                                                                                        Target   0.225930
                                                                                        True     0.260426
                         mono     random             count              0       3       False    0.255667
                                                     count$tf-idf$sbert 0       3       False    0.284223
                                                     random             0       3       False    0.270805
                                                                                        Target   0.229674
                                                                                        True     0.309234
                                                     sbert              0       3       False    0.279363
                                                                                        Target   0.232803
                                                                                        True     0.283256
                                                     tf-idf             0       3       False    0.275516
                         none     random             random             0       0       False    0.262947
                                                                                        Target   0.199979
                                                                                        True     0.229787

                                                                                                 weighted_f1
dataset         icl_type iia_type icl_idx            iia_idx            num_icl num_iia use_ioa
americasnli-spa cross    cross    sbert              sbert              3       3       False       0.324938
                                                                                        Target      0.309051
                                                                                        True        0.290555
                         mono     sbert              sbert              3       3       False       0.325068
                                                                                        Target      0.325337
                                                                                        True        0.313406
                         none     count$tf-idf$sbert random             3       0       False       0.326183
                                  sbert              random             3       0       False       0.328551
                                                                                        Target      0.317496
                                                                                        True        0.301549
                mono     cross    sbert              sbert              3       3       False       0.323671
                                                                                        Target      0.339740
                                                                                        True        0.315003
                         mono     random             random             3       3       False       0.311708
                                                                                        Target      0.334809
                                                                                        True        0.285078
                                  sbert              sbert              3       3       False       0.349027
                                                                                        Target      0.329731
                                                                                        True        0.295911
                         none     count              random             3       0       False       0.336163
                                  count$tf-idf$sbert random             3       0       False       0.325991
                                  random             random             3       0       False       0.326901
                                                                                        Target      0.325630
                                                                                        True        0.278730
                                  sbert              random             3       0       False       0.323596
                                                                                        Target      0.349378
                                                                                        True        0.301150
                                  tf-idf             random             3       0       False       0.324308
                none     cross    random             count$tf-idf$sbert 0       3       False       0.266302
                                                     sbert              0       3       False       0.269705
                                                                                        Target      0.225951
                                                                                        True        0.260446
                         mono     random             count              0       3       False       0.255702
                                                     count$tf-idf$sbert 0       3       False       0.284261
                                                     random             0       3       False       0.270833
                                                                                        Target      0.229700
                                                                                        True        0.309244
                                                     sbert              0       3       False       0.279374
                                                                                        Target      0.232874
                                                                                        True        0.283287
                                                     tf-idf             0       3       False       0.275523
                         none     random             random             0       0       False       0.262941
                                                                                        Target      0.200017
                                                                                        True        0.229763

nusatranslation

                                                                                                 accuracy  \
dataset         icl_type iia_type icl_idx            iia_idx            num_icl num_iia use_ioa
nusatranslation cross    cross    sbert              sbert              3       3       False    0.540972
                                                                                        Target   0.610000
                                                                                        True     0.655833
                         mono     sbert              sbert              3       3       False    0.553333
                                                                                        Target   0.636389
                                                                                        True     0.654861
                         none     count$tf-idf$sbert random             3       0       False    0.574861
                                  sbert              random             3       0       False    0.617917
                                                                                        Target   0.557222
                                                                                        True     0.564722
                mono     cross    sbert              sbert              3       3       False    0.648611
                                                                                        Target   0.628611
                                                                                        True     0.519167
                         mono     random             random             3       3       False    0.525694
                                                                                        Target   0.502917
                                                                                        True     0.640972
                                  sbert              sbert              3       3       False    0.601111
                                                                                        Target   0.638889
                                                                                        True     0.514028
                         none     count              random             3       0       False    0.618194
                                  count$tf-idf$sbert random             3       0       False    0.608056
                                  random             random             3       0       False    0.600972
                                                                                        Target   0.550694
                                                                                        True     0.502361
                                  sbert              random             3       0       False    0.622361
                                                                                        Target   0.485833
                                                                                        True     0.427639
                                  tf-idf             random             3       0       False    0.554444
                none     cross    random             count$tf-idf$sbert 0       3       False    0.535833
                                                     sbert              0       3       False    0.610833
                                                                                        Target   0.536806
                                                                                        True     0.559583
                         mono     random             count              0       3       False    0.576667
                                                     count$tf-idf$sbert 0       3       False    0.628889
                                                     random             0       3       False    0.622917
                                                                                        Target   0.631806
                                                                                        True     0.544306
                                                     sbert              0       3       False    0.544861
                                                                                        Target   0.553194
                                                                                        True     0.567917
                                                     tf-idf             0       3       False    0.575000
                         none     random             random             0       0       False    0.593750
                                                                                        Target   0.459306
                                                                                        True     0.372361

                                                                                                 macro_f1  \
dataset         icl_type iia_type icl_idx            iia_idx            num_icl num_iia use_ioa
nusatranslation cross    cross    sbert              sbert              3       3       False    0.530396
                                                                                        Target   0.554763
                                                                                        True     0.561979
                         mono     sbert              sbert              3       3       False    0.542951
                                                                                        Target   0.580373
                                                                                        True     0.550216
                         none     count$tf-idf$sbert random             3       0       False    0.536140
                                  sbert              random             3       0       False    0.537326
                                                                                        Target   0.535481
                                                                                        True     0.545182
                mono     cross    sbert              sbert              3       3       False    0.577001
                                                                                        Target   0.567093
                                                                                        True     0.515207
                         mono     random             random             3       3       False    0.520438
                                                                                        Target   0.499863
                                                                                        True     0.542599
                                  sbert              sbert              3       3       False    0.572565
                                                                                        Target   0.571837
                                                                                        True     0.507859
                         none     count              random             3       0       False    0.521491
                                  count$tf-idf$sbert random             3       0       False    0.523670
                                  random             random             3       0       False    0.530238
                                                                                        Target   0.523353
                                                                                        True     0.494438
                                  sbert              random             3       0       False    0.538032
                                                                                        Target   0.482894
                                                                                        True     0.425276
                                  tf-idf             random             3       0       False    0.516906
                none     cross    random             count$tf-idf$sbert 0       3       False    0.529724
                                                     sbert              0       3       False    0.570791
                                                                                        Target   0.528823
                                                                                        True     0.542368
                         mono     random             count              0       3       False    0.566000
                                                     count$tf-idf$sbert 0       3       False    0.578661
                                                     random             0       3       False    0.576220
                                                                                        Target   0.573024
                                                                                        True     0.531526
                                                     sbert              0       3       False    0.537339
                                                                                        Target   0.540880
                                                                                        True     0.553114
                                                     tf-idf             0       3       False    0.563587
                         none     random             random             0       0       False    0.561500
                                                                                        Target   0.457519
                                                                                        True     0.354553

                                                                                                 weighted_f1
dataset         icl_type iia_type icl_idx            iia_idx            num_icl num_iia use_ioa
nusatranslation cross    cross    sbert              sbert              3       3       False       0.558289
                                                                                        Target      0.619217
                                                                                        True        0.645320
                         mono     sbert              sbert              3       3       False       0.570415
                                                                                        Target      0.643432
                                                                                        True        0.639495
                         none     count$tf-idf$sbert random             3       0       False       0.591213
                                  sbert              random             3       0       False       0.616696
                                                                                        Target      0.575349
                                                                                        True        0.583755
                mono     cross    sbert              sbert              3       3       False       0.648558
                                                                                        Target      0.634209
                                                                                        True        0.528336
                         mono     random             random             3       3       False       0.540135
                                                                                        Target      0.514857
                                                                                        True        0.629858
                                  sbert              sbert              3       3       False       0.617042
                                                                                        Target      0.641260
                                                                                        True        0.526861
                         none     count              random             3       0       False       0.609728
                                  count$tf-idf$sbert random             3       0       False       0.606006
                                  random             random             3       0       False       0.605170
                                                                                        Target      0.570237
                                                                                        True        0.518606
                                  sbert              random             3       0       False       0.619098
                                                                                        Target      0.496439
                                                                                        True        0.412280
                                  tf-idf             random             3       0       False       0.571934
                none     cross    random             count$tf-idf$sbert 0       3       False       0.550503
                                                     sbert              0       3       False       0.624746
                                                                                        Target      0.552362
                                                                                        True        0.578335
                         mono     random             count              0       3       False       0.593391
                                                     count$tf-idf$sbert 0       3       False       0.638276
                                                     random             0       3       False       0.633939
                                                                                        Target      0.638145
                                                                                        True        0.562324
                                                     sbert              0       3       False       0.561044
                                                                                        Target      0.571124
                                                                                        True        0.585726
                                                     tf-idf             0       3       False       0.592359
                         none     random             random             0       0       False       0.610257
                                                                                        Target      0.446455
                                                                                        True        0.311326

tweetsentimulti

                                                                                                 accuracy  \
dataset         icl_type iia_type icl_idx            iia_idx            num_icl num_iia use_ioa
tweetsentimulti cross    cross    sbert              sbert              3       3       False    0.464532
                                                                                        Target   0.478325
                                                                                        True     0.414122
                         mono     sbert              sbert              3       3       False    0.478325
                                                                                        Target   0.475862
                                                                                        True     0.411987
                         none     count$tf-idf$sbert random             3       0       False    0.466174
                                  sbert              random             3       0       False    0.458292
                                                                                        Target   0.443350
                                                                                        True     0.390476
                mono     cross    sbert              sbert              3       3       False    0.495567
                                                                                        Target   0.500985
                                                                                        True     0.434319
                         mono     random             random             3       3       False    0.441215
                                                                                        Target   0.415435
                                                                                        True     0.402791
                                  sbert              sbert              3       3       False    0.496880
                                                                                        Target   0.494417
                                                                                        True     0.421675
                         none     count              random             3       0       False    0.442200
                                  count$tf-idf$sbert random             3       0       False    0.471100
                                  random             random             3       0       False    0.388342
                                                                                        Target   0.391461
                                                                                        True     0.359442
                                  sbert              random             3       0       False    0.469294
                                                                                        Target   0.465353
                                                                                        True     0.384893
                                  tf-idf             random             3       0       False    0.433990
                none     cross    random             count$tf-idf$sbert 0       3       False    0.452053
                                                     sbert              0       3       False    0.444499
                                                                                        Target   0.424302
                                                                                        True     0.410181
                         mono     random             count              0       3       False    0.442036
                                                     count$tf-idf$sbert 0       3       False    0.453366
                                                     random             0       3       False    0.454187
                                                                                        Target   0.427586
                                                                                        True     0.399015
                                                     sbert              0       3       False    0.441708
                                                                                        Target   0.418391
                                                                                        True     0.423645
                                                     tf-idf             0       3       False    0.443678
                         none     random             random             0       0       False    0.452545
                                                                                        Target   0.434975
                                                                                        True     0.358785

                                                                                                 macro_f1  \
dataset         icl_type iia_type icl_idx            iia_idx            num_icl num_iia use_ioa
tweetsentimulti cross    cross    sbert              sbert              3       3       False    0.451934
                                                                                        Target   0.467192
                                                                                        True     0.380588
                         mono     sbert              sbert              3       3       False    0.456876
                                                                                        Target   0.466321
                                                                                        True     0.380430
                         none     count$tf-idf$sbert random             3       0       False    0.466032
                                  sbert              random             3       0       False    0.457817
                                                                                        Target   0.436490
                                                                                        True     0.345905
                mono     cross    sbert              sbert              3       3       False    0.474380
                                                                                        Target   0.490273
                                                                                        True     0.405802
                         mono     random             random             3       3       False    0.412250
                                                                                        Target   0.402349
                                                                                        True     0.371704
                                  sbert              sbert              3       3       False    0.482409
                                                                                        Target   0.483582
                                                                                        True     0.388123
                         none     count              random             3       0       False    0.434331
                                  count$tf-idf$sbert random             3       0       False    0.465876
                                  random             random             3       0       False    0.386614
                                                                                        Target   0.376614
                                                                                        True     0.280688
                                  sbert              random             3       0       False    0.465136
                                                                                        Target   0.455665
                                                                                        True     0.315417
                                  tf-idf             random             3       0       False    0.425915
                none     cross    random             count$tf-idf$sbert 0       3       False    0.424137
                                                     sbert              0       3       False    0.412984
                                                                                        Target   0.398902
                                                                                        True     0.377082
                         mono     random             count              0       3       False    0.398836
                                                     count$tf-idf$sbert 0       3       False    0.408221
                                                     random             0       3       False    0.411946
                                                                                        Target   0.402377
                                                                                        True     0.366701
                                                     sbert              0       3       False    0.400228
                                                                                        Target   0.394559
                                                                                        True     0.401530
                                                     tf-idf             0       3       False    0.398934
                         none     random             random             0       0       False    0.396050
                                                                                        Target   0.384895
                                                                                        True     0.291306

                                                                                                 weighted_f1
dataset         icl_type iia_type icl_idx            iia_idx            num_icl num_iia use_ioa
tweetsentimulti cross    cross    sbert              sbert              3       3       False       0.451934
                                                                                        Target      0.467192
                                                                                        True        0.380588
                         mono     sbert              sbert              3       3       False       0.456876
                                                                                        Target      0.466321
                                                                                        True        0.380430
                         none     count$tf-idf$sbert random             3       0       False       0.466032
                                  sbert              random             3       0       False       0.457817
                                                                                        Target      0.436490
                                                                                        True        0.345905
                mono     cross    sbert              sbert              3       3       False       0.474380
                                                                                        Target      0.490273
                                                                                        True        0.405802
                         mono     random             random             3       3       False       0.412250
                                                                                        Target      0.402349
                                                                                        True        0.371704
                                  sbert              sbert              3       3       False       0.482409
                                                                                        Target      0.483582
                                                                                        True        0.388123
                         none     count              random             3       0       False       0.434331
                                  count$tf-idf$sbert random             3       0       False       0.465876
                                  random             random             3       0       False       0.386614
                                                                                        Target      0.376614
                                                                                        True        0.280688
                                  sbert              random             3       0       False       0.465136
                                                                                        Target      0.455665
                                                                                        True        0.315417
                                  tf-idf             random             3       0       False       0.425915
                none     cross    random             count$tf-idf$sbert 0       3       False       0.424137
                                                     sbert              0       3       False       0.412984
                                                                                        Target      0.398902
                                                                                        True        0.377082
                         mono     random             count              0       3       False       0.398836
                                                     count$tf-idf$sbert 0       3       False       0.408221
                                                     random             0       3       False       0.411946
                                                                                        Target      0.402377
                                                                                        True        0.366701
                                                     sbert              0       3       False       0.400228
                                                                                        Target      0.394559
                                                                                        True        0.401530
                                                     tf-idf             0       3       False       0.398934
                         none     random             random             0       0       False       0.396050
                                                                                        Target      0.384895
                                                                                        True        0.291306

nusatranslation-ind

                                                                                                     accuracy  \
dataset             icl_type iia_type icl_idx            iia_idx            num_icl num_iia use_ioa
nusatranslation-ind cross    cross    sbert              sbert              3       3       False    0.595972
                                                                                            Target   0.536250
                                                                                            True     0.608472
                             mono     sbert              sbert              3       3       False    0.666667
                                                                                            Target   0.591111
                                                                                            True     0.483472
                             none     count$tf-idf$sbert random             3       0       False    0.624583
                                      sbert              random             3       0       False    0.625139
                                                                                            Target   0.520556
                                                                                            True     0.468889
                    mono     cross    sbert              sbert              3       3       False    0.670139
                                                                                            Target   0.617361
                                                                                            True     0.640139
                             mono     random             random             3       3       False    0.653611
                                                                                            Target   0.456111
                                                                                            True     0.440000
                                      sbert              sbert              3       3       False    0.669167
                                                                                            Target   0.600139
                                                                                            True     0.470833
                             none     count              random             3       0       False    0.568056
                                      count$tf-idf$sbert random             3       0       False    0.608889
                                      random             random             3       0       False    0.594861
                                                                                            Target   0.556250
                                                                                            True     0.501806
                                      sbert              random             3       0       False    0.547222
                                                                                            Target   0.570000
                                                                                            True     0.502639
                                      tf-idf             random             3       0       False    0.562639
                    none     cross    random             count$tf-idf$sbert 0       3       False    0.659028
                                                         sbert              0       3       False    0.654583
                                                                                            Target   0.581250
                                                                                            True     0.537361
                             mono     random             count              0       3       False    0.653889
                                                         count$tf-idf$sbert 0       3       False    0.658750
                                                         random             0       3       False    0.651528
                                                                                            Target   0.479167
                                                                                            True     0.589028
                                                         sbert              0       3       False    0.597222
                                                                                            Target   0.490694
                                                                                            True     0.544722
                                                         tf-idf             0       3       False    0.653056
                             none     random             random             0       0       False    0.676806
                                                                                            Target   0.589444
                                                                                            True     0.537222

                                                                                                     macro_f1  \
dataset             icl_type iia_type icl_idx            iia_idx            num_icl num_iia use_ioa
nusatranslation-ind cross    cross    sbert              sbert              3       3       False    0.558571
                                                                                            Target   0.523026
                                                                                            True     0.557852
                             mono     sbert              sbert              3       3       False    0.564985
                                                                                            Target   0.546963
                                                                                            True     0.481811
                             none     count$tf-idf$sbert random             3       0       False    0.542895
                                      sbert              random             3       0       False    0.547637
                                                                                            Target   0.513657
                                                                                            True     0.468306
                    mono     cross    sbert              sbert              3       3       False    0.573527
                                                                                            Target   0.566005
                                                                                            True     0.559628
                             mono     random             random             3       3       False    0.566006
                                                                                            Target   0.455279
                                                                                            True     0.438276
                                      sbert              sbert              3       3       False    0.571483
                                                                                            Target   0.548290
                                                                                            True     0.469251
                             none     count              random             3       0       False    0.533518
                                      count$tf-idf$sbert random             3       0       False    0.536062
                                      random             random             3       0       False    0.536537
                                                                                            Target   0.520253
                                                                                            True     0.495794
                                      sbert              random             3       0       False    0.530756
                                                                                            Target   0.530801
                                                                                            True     0.494959
                                      tf-idf             random             3       0       False    0.531601
                    none     cross    random             count$tf-idf$sbert 0       3       False    0.574528
                                                         sbert              0       3       False    0.572335
                                                                                            Target   0.556537
                                                                                            True     0.526349
                             mono     random             count              0       3       False    0.601246
                                                         count$tf-idf$sbert 0       3       False    0.563325
                                                         random             0       3       False    0.564358
                                                                                            Target   0.478078
                                                                                            True     0.555933
                                                         sbert              0       3       False    0.567203
                                                                                            Target   0.488599
                                                                                            True     0.536068
                                                         tf-idf             0       3       False    0.601774
                             none     random             random             0       0       False    0.620056
                                                                                            Target   0.576451
                                                                                            True     0.527906

                                                                                                     weighted_f1
dataset             icl_type iia_type icl_idx            iia_idx            num_icl num_iia use_ioa
nusatranslation-ind cross    cross    sbert              sbert              3       3       False       0.611188
                                                                                            Target      0.555383
                                                                                            True        0.619024
                             mono     sbert              sbert              3       3       False       0.651548
                                                                                            Target      0.604976
                                                                                            True        0.484457
                             none     count$tf-idf$sbert random             3       0       False       0.622337
                                      sbert              random             3       0       False       0.624685
                                                                                            Target      0.536312
                                                                                            True        0.470017
                    mono     cross    sbert              sbert              3       3       False       0.657034
                                                                                            Target      0.627378
                                                                                            True        0.636956
                             mono     random             random             3       3       False       0.646211
                                                                                            Target      0.457442
                                                                                            True        0.429959
                                      sbert              sbert              3       3       False       0.655654
                                                                                            Target      0.610831
                                                                                            True        0.474134
                             none     count              random             3       0       False       0.585157
                                      count$tf-idf$sbert random             3       0       False       0.611374
                                      random             random             3       0       False       0.603937
                                                                                            Target      0.574247
                                                                                            True        0.516383
                                      sbert              random             3       0       False       0.565293
                                                                                            Target      0.586370
                                                                                            True        0.518857
                                      tf-idf             random             3       0       False       0.580868
                    none     cross    random             count$tf-idf$sbert 0       3       False       0.652554
                                                         sbert              0       3       False       0.649512
                                                                                            Target      0.599543
                                                                                            True        0.555430
                             mono     random             count              0       3       False       0.660776
                                                         count$tf-idf$sbert 0       3       False       0.647197
                                                         random             0       3       False       0.644419
                                                                                            Target      0.483817
                                                                                            True        0.605708
                                                         sbert              0       3       False       0.613957
                                                                                            Target      0.496696
                                                                                            True        0.559578
                                                         tf-idf             0       3       False       0.660553
                             none     random             random             0       0       False       0.680415
                                                                                            Target      0.606697
                                                                                            True        0.553618

### Masakhanews

In [6]:
df.loc[
    (df['icl_idx'] == 'sbert') & (df['num_icl'] == 3) & 
    (df['dataset'] == 'masakhanews') & (df['use_ioa'] == 'False')
,:].sort_values(['dataset', 'icl_type', 'iia_type'], ascending=False).reset_index(drop=True).groupby(
    ['dataset', 'lang']
)[['accuracy', 'macro_f1', 'weighted_f1']].mean()

                  accuracy  macro_f1  weighted_f1
dataset     lang
masakhanews amh   0.574088  0.561374     0.563506
            hau   0.548778  0.530443     0.544731
            ibo   0.743223  0.714396     0.739697
            lug   0.528507  0.427796     0.515521
            pcm   0.909133  0.884584     0.910033
            sna   0.565234  0.553240     0.546229
            swa   0.716987  0.663724     0.722729
            xho   0.354497  0.291473     0.381852
            yor   0.742092  0.746492     0.743316

In [9]:
df.loc[
    (df['icl_idx'] == 'sbert') & (df['num_icl'] == 3) & 
    (df['dataset'] == 'masakhanews') & (df['use_ioa'] == 'True')
,:].sort_values(['dataset', 'icl_type', 'iia_type'], ascending=False).reset_index(drop=True).groupby(
    ['dataset', 'lang']
)[['accuracy', 'macro_f1', 'weighted_f1']].mean()

                  accuracy  macro_f1  weighted_f1
dataset     lang
masakhanews amh   0.261525  0.205631     0.210955
            hau   0.195709  0.131636     0.136747
            ibo   0.183333  0.135556     0.142224
            lug   0.156951  0.136444     0.102395
            pcm   0.871038  0.840434     0.876496
            sna   0.310298  0.194653     0.196871
            swa   0.132353  0.119898     0.145936
            xho   0.170034  0.103689     0.125318
            yor   0.345904  0.292395     0.302593

In [10]:
df.loc[
    (df['icl_idx'] == 'sbert') & (df['num_icl'] == 3) & 
    (df['dataset'] == 'masakhanews') & (df['use_ioa'] == 'Target')
,:].sort_values(['dataset', 'icl_type', 'iia_type'], ascending=False).reset_index(drop=True).groupby(
    ['dataset', 'lang']
)[['accuracy', 'macro_f1', 'weighted_f1']].mean()

                  accuracy  macro_f1  weighted_f1
dataset     lang
masakhanews amh   0.602726  0.598121     0.601579
            hau   0.396586  0.374742     0.384499
            ibo   0.453205  0.423071     0.450312
            lug   0.380045  0.291256     0.369467
            pcm   0.906148  0.879261     0.906903
            sna   0.471206  0.468114     0.461676
            swa   0.495011  0.435504     0.503198
            xho   0.250421  0.206158     0.246311
            yor   0.489051  0.475155     0.475712

### AmericasNLI

In [11]:
df.loc[
    (df['icl_idx'] == 'sbert') & (df['num_icl'] == 3) & 
    (df['dataset'] == 'americasnli') & (df['use_ioa'] == 'False')
,:].sort_values(['dataset', 'icl_type', 'iia_type'], ascending=False).reset_index(drop=True).groupby(
    ['dataset', 'lang']
)[['accuracy', 'macro_f1', 'weighted_f1']].mean()

                  accuracy  macro_f1  weighted_f1
dataset     lang
americasnli aym   0.349500  0.330215     0.330215
            bzd   0.341000  0.323159     0.323159
            cni   0.346167  0.325843     0.325843
            gn    0.362500  0.349273     0.349273
            hch   0.339833  0.319649     0.319649
            nah   0.338584  0.322497     0.322410
            oto   0.335394  0.315070     0.314955
            quy   0.352333  0.335195     0.335195
            shp   0.335167  0.312287     0.312287
            tar   0.350000  0.328639     0.328639

In [12]:
df.loc[
    (df['icl_idx'] == 'sbert') & (df['num_icl'] == 3) & 
    (df['dataset'] == 'americasnli') & (df['use_ioa'] == 'True')
,:].sort_values(['dataset', 'icl_type', 'iia_type'], ascending=False).reset_index(drop=True).groupby(
    ['dataset', 'lang']
)[['accuracy', 'macro_f1', 'weighted_f1']].mean()

                  accuracy  macro_f1  weighted_f1
dataset     lang
americasnli aym   0.339556  0.236021     0.236021
            gn    0.340000  0.223675     0.223675
            oto   0.333779  0.174341     0.174776
            quy   0.325778  0.216994     0.216994

In [13]:
df.loc[
    (df['icl_idx'] == 'sbert') & (df['num_icl'] == 3) & 
    (df['dataset'] == 'americasnli') & (df['use_ioa'] == 'Target')
,:].sort_values(['dataset', 'icl_type', 'iia_type'], ascending=False).reset_index(drop=True).groupby(
    ['dataset', 'lang']
)[['accuracy', 'macro_f1', 'weighted_f1']].mean()

                  accuracy  macro_f1  weighted_f1
dataset     lang
americasnli aym   0.352333  0.342849     0.342849
            gn    0.354667  0.332101     0.332101
            oto   0.333389  0.310899     0.310959
            quy   0.355667  0.321994     0.321994

# AmericasNLI Spa

In [14]:
df.loc[
    (df['icl_idx'] == 'sbert') & (df['num_icl'] == 3) & 
    (df['dataset'] == 'americasnli-spa') & (df['use_ioa'] == 'False')
,:].sort_values(['dataset', 'icl_type', 'iia_type'], ascending=False).reset_index(drop=True).groupby(
    ['dataset', 'lang']
)[['accuracy', 'macro_f1', 'weighted_f1']].mean()

                      accuracy  macro_f1  weighted_f1
dataset         lang
americasnli-spa aym   0.331000  0.303291     0.303291
                bzd   0.331667  0.310663     0.310663
                cni   0.343000  0.319797     0.319797
                gn    0.337000  0.313351     0.313351
                hch   0.335667  0.306416     0.306416
                nah   0.341294  0.311806     0.312037
                oto   0.341578  0.325266     0.325343
                quy   0.343333  0.312039     0.312039
                shp   0.346500  0.325844     0.325844
                tar   0.336333  0.317017     0.317017

In [15]:
df.loc[
    (df['icl_idx'] == 'sbert') & (df['num_icl'] == 3) & 
    (df['dataset'] == 'americasnli-spa') & (df['use_ioa'] == 'True')
,:].sort_values(['dataset', 'icl_type', 'iia_type'], ascending=False).reset_index(drop=True).groupby(
    ['dataset', 'lang']
)[['accuracy', 'macro_f1', 'weighted_f1']].mean()

                      accuracy  macro_f1  weighted_f1
dataset         lang
americasnli-spa aym   0.335111  0.262810     0.262810
                gn    0.340889  0.261620     0.261620
                oto   0.336453  0.283127     0.283308
                quy   0.334444  0.188789     0.188789

In [16]:
df.loc[
    (df['icl_idx'] == 'sbert') & (df['num_icl'] == 3) & 
    (df['dataset'] == 'americasnli-spa') & (df['use_ioa'] == 'Target')
,:].sort_values(['dataset', 'icl_type', 'iia_type'], ascending=False).reset_index(drop=True).groupby(
    ['dataset', 'lang']
)[['accuracy', 'macro_f1', 'weighted_f1']].mean()

                      accuracy  macro_f1  weighted_f1
dataset         lang
americasnli-spa aym   0.342833  0.321935     0.321935
                gn    0.347833  0.323214     0.323214
                oto   0.344418  0.323075     0.323156
                quy   0.349333  0.314742     0.314742

### NusaTranslation

In [17]:
df.loc[
    (df['icl_idx'] == 'sbert') & (df['num_icl'] == 3) & 
    (df['dataset'] == 'nusatranslation') & (df['use_ioa'] == 'False')
,:].sort_values(['dataset', 'icl_type', 'iia_type'], ascending=False).reset_index(drop=True).groupby(
    ['dataset', 'lang']
)[['accuracy', 'macro_f1', 'weighted_f1']].mean()

                      accuracy  macro_f1  weighted_f1
dataset         lang
nusatranslation btk   0.666667  0.560681     0.647696
                jav   0.702604  0.601382     0.683119
                mad   0.669167  0.561765     0.649481
                mak   0.674167  0.550413     0.644875
                min   0.726458  0.629749     0.707227
                sun   0.710729  0.601039     0.685815

In [18]:
df.loc[
    (df['icl_idx'] == 'sbert') & (df['num_icl'] == 3) & 
    (df['dataset'] == 'nusatranslation') & (df['use_ioa'] == 'True')
,:].sort_values(['dataset', 'icl_type', 'iia_type'], ascending=False).reset_index(drop=True).groupby(
    ['dataset', 'lang']
)[['accuracy', 'macro_f1', 'weighted_f1']].mean()

                      accuracy  macro_f1  weighted_f1
dataset         lang
nusatranslation btk   0.615000  0.464031     0.554566
                jav   0.626667  0.494678     0.576599
                mad   0.580000  0.452134     0.526362
                mak   0.590278  0.407228     0.502220
                min   0.666250  0.536641     0.625500
                sun   0.657917  0.514197     0.607224

In [19]:
df.loc[
    (df['icl_idx'] == 'sbert') & (df['num_icl'] == 3) & 
    (df['dataset'] == 'nusatranslation') & (df['use_ioa'] == 'Target')
,:].sort_values(['dataset', 'icl_type', 'iia_type'], ascending=False).reset_index(drop=True).groupby(
    ['dataset', 'lang']
)[['accuracy', 'macro_f1', 'weighted_f1']].mean()

                      accuracy  macro_f1  weighted_f1
dataset         lang
nusatranslation btk   0.586875  0.541443     0.592497
                jav   0.653438  0.596888     0.654544
                mad   0.601667  0.552363     0.608014
                mak   0.586042  0.531152     0.587981
                min   0.668750  0.613654     0.670295
                sun   0.658646  0.606605     0.658824

### Tweet Senti Multi

In [20]:
df.loc[
    (df['icl_idx'] == 'sbert') & (df['num_icl'] == 3) & 
    (df['dataset'] == 'tweetsentimulti') & (df['use_ioa'] == 'False')
,:].sort_values(['dataset', 'icl_type', 'iia_type'], ascending=False).reset_index(drop=True).groupby(
    ['dataset', 'lang']
)[['accuracy', 'macro_f1', 'weighted_f1']].mean()

                      accuracy  macro_f1  weighted_f1
dataset         lang
tweetsentimulti arb   0.496223  0.495502     0.495502
                deu   0.508374  0.495648     0.495648
                fra   0.535140  0.531229     0.531229
                hin   0.419704  0.405560     0.405560
                ita   0.490640  0.476486     0.476486
                por   0.571921  0.557579     0.557579
                spa   0.559113  0.548840     0.548840

In [21]:
df.loc[
    (df['icl_idx'] == 'sbert') & (df['num_icl'] == 3) & 
    (df['dataset'] == 'tweetsentimulti') & (df['use_ioa'] == 'True')
,:].sort_values(['dataset', 'icl_type', 'iia_type'], ascending=False).reset_index(drop=True).groupby(
    ['dataset', 'lang']
)[['accuracy', 'macro_f1', 'weighted_f1']].mean()

                      accuracy  macro_f1  weighted_f1
dataset         lang
tweetsentimulti arb   0.368774  0.330634     0.330634
                deu   0.337739  0.244563     0.244563
                fra   0.376245  0.313043     0.313043
                hin   0.362261  0.318814     0.318814
                ita   0.355747  0.283060     0.283060
                por   0.480651  0.439994     0.439994
                spa   0.395977  0.301777     0.301777

In [22]:
df.loc[
    (df['icl_idx'] == 'sbert') & (df['num_icl'] == 3) & 
    (df['dataset'] == 'tweetsentimulti') & (df['use_ioa'] == 'Target')
,:].sort_values(['dataset', 'icl_type', 'iia_type'], ascending=False).reset_index(drop=True).groupby(
    ['dataset', 'lang']
)[['accuracy', 'macro_f1', 'weighted_f1']].mean()

                      accuracy  macro_f1  weighted_f1
dataset         lang
tweetsentimulti arb   0.463793  0.449383     0.449383
                deu   0.489224  0.476863     0.476863
                fra   0.486638  0.480410     0.480410
                hin   0.381753  0.362209     0.362209
                ita   0.482184  0.475893     0.475893
                por   0.557759  0.550303     0.550303
                spa   0.520115  0.505569     0.505569

# ITC

In [13]:
dfs = []
for path in glob.glob('../metrics_itc/*.csv'):
    meta = path.split('/')[-1][:-4].split('_')
    dset_name, model_name = meta[1], meta[2]
    
    meta[3] = meta[3].replace('mono-tran', 'monotrans')
    itc_meta = meta[3][4:].split('-')
    itc_num = int(itc_meta[2])
    itc_label = itc_meta[-1]
    itc_type, itc_idx = itc_meta[:2]
    
    # Load Metrics
    df = pd.read_csv(path)
    df = df.T
    df.columns = df.head(1).values[0]
    df = df.iloc[1:]

    # Inject Metadata
    df['model_name'] = model_name
    df['itc_num'] = itc_num
    df['itc_label'] = itc_label
    df['itc_type'] = itc_type
    df['itc_idx'] = itc_idx
    
    df['accuracy'] = pd.to_numeric(df['accuracy'])
    df['macro_f1'] = pd.to_numeric(df['macro_f1'])
    df['weighted_f1'] = pd.to_numeric(df['weighted_f1'])
    
    # Remove Unused Experiments
    df['itc_type'] = df['itc_type'].apply(lambda x: 'monotrans' if x == 'monotranss' else x)
    dfs.append(df)
    
df = pd.concat(dfs)

In [14]:
df.to_csv('itc_results.csv', index=False)

In [15]:
df.groupby(['dataset', 'lang']).size()

dataset              lang
americasnli          aym     24
                     bzd     12
                     cni     12
                     gn      24
                     hch     12
                     nah     12
                     oto     24
                     quy     24
                     shp     12
                     tar     12
americasnli-spa      aym     24
                     bzd     12
                     cni     12
                     gn      24
                     hch     12
                     nah     12
                     oto     24
                     quy     24
                     shp     12
                     tar     12
masakhanews          amh     24
                     hau     24
                     ibo     24
                     lug     24
                     pcm     24
                     sna     24
                     swa     24
                     xho     24
                     yor     24
nusatranslation      btk     24
                     jav     24
                     mad     24
                     mak     24
                     min     24
                     sun     24
nusatranslation-ind  btk     24
                     jav     24
                     mad     24
                     mak     24
                     min     24
                     sun     24
tweetsentimulti      arb     24
                     deu     24
                     fra     24
                     hin     24
                     ita     24
                     por     24
                     spa     24
dtype: int64

In [16]:
df.groupby(['model_name', 'dataset']).size()

model_name  dataset
bloom-7b1   americasnli             84
            americasnli-spa         84
            masakhanews            108
            nusatranslation         72
            nusatranslation-ind     72
            tweetsentimulti         84
xglm-7.5B   americasnli             84
            americasnli-spa         84
            masakhanews            108
            nusatranslation         72
            nusatranslation-ind     72
            tweetsentimulti         84
dtype: int64

In [17]:
for dset in df['dataset'].unique():
    print(dset)
    display(df.loc[
        (df['dataset'] == dset) & (df['model_name'] == 'bloom-7b1'),:
    ].sort_values(['dataset', 'itc_type', 'itc_idx', 'itc_num'], ascending=False).reset_index(drop=True).groupby(
        ['dataset', 'itc_type', 'itc_idx', 'itc_num', 'itc_label']
    )[['accuracy', 'macro_f1', 'weighted_f1']].mean())

americasnli

                                                 accuracy  macro_f1  \
dataset     itc_type  itc_idx itc_num itc_label
americasnli cross     sbert   3       Source     0.344250  0.274891
                                      Target     0.361578  0.331619
            mono      random  3       Source     0.337315  0.320202
                                      Target     0.326889  0.311276
                      sbert   3       Source     0.352896  0.326038
                                      Target     0.369227  0.338882
            monotrans random  3       Source     0.343061  0.333535
                                      Target     0.326224  0.218637
                      sbert   3       Source     0.365328  0.354679
                                      Target     0.366553  0.342985
            none      random  0       Source     0.337325  0.204720
                                      Target     0.327888  0.220779

                                                 weighted_f1
dataset     itc_type  itc_idx itc_num itc_label
americasnli cross     sbert   3       Source        0.274867
                                      Target        0.331621
            mono      random  3       Source        0.320164
                                      Target        0.311308
                      sbert   3       Source        0.325997
                                      Target        0.338901
            monotrans random  3       Source        0.333548
                                      Target        0.218733
                      sbert   3       Source        0.354689
                                      Target        0.343018
            none      random  0       Source        0.204766
                                      Target        0.220885

nusatranslation-ind

                                                         accuracy  macro_f1  \
dataset             itc_type  itc_idx itc_num itc_label
nusatranslation-ind cross     sbert   3       Source     0.711111  0.632627
                                              Target     0.626389  0.596224
                    mono      random  3       Source     0.682917  0.627571
                                              Target     0.560139  0.548612
                              sbert   3       Source     0.681667  0.630190
                                              Target     0.608611  0.582301
                    monotrans random  3       Source     0.712778  0.619845
                                              Target     0.692083  0.491876
                              sbert   3       Source     0.634583  0.618778
                                              Target     0.612917  0.595671
                    none      random  0       Source     0.485833  0.483957
                                              Target     0.684167  0.516339

                                                         weighted_f1
dataset             itc_type  itc_idx itc_num itc_label
nusatranslation-ind cross     sbert   3       Source        0.702398
                                              Target        0.640042
                    mono      random  3       Source        0.686564
                                              Target        0.577245
                              sbert   3       Source        0.686806
                                              Target        0.623699
                    monotrans random  3       Source        0.697115
                                              Target        0.622395
                              sbert   3       Source        0.647206
                                              Target        0.628047
                    none      random  0       Source        0.480526
                                              Target        0.632231

tweetsentimulti

                                                     accuracy  macro_f1  \
dataset         itc_type  itc_idx itc_num itc_label
tweetsentimulti cross     sbert   3       Source     0.531856  0.529894
                                          Target     0.519704  0.510828
                mono      random  3       Source     0.431691  0.426116
                                          Target     0.388670  0.371162
                          sbert   3       Source     0.511494  0.496260
                                          Target     0.507225  0.499724
                monotrans random  3       Source     0.441215  0.426511
                                          Target     0.393924  0.338412
                          sbert   3       Source     0.540066  0.525397
                                          Target     0.511166  0.503267
                none      random  0       Source     0.405911  0.358915
                                          Target     0.403448  0.352005

                                                     weighted_f1
dataset         itc_type  itc_idx itc_num itc_label
tweetsentimulti cross     sbert   3       Source        0.529894
                                          Target        0.510828
                mono      random  3       Source        0.426116
                                          Target        0.371162
                          sbert   3       Source        0.496260
                                          Target        0.499724
                monotrans random  3       Source        0.426511
                                          Target        0.338412
                          sbert   3       Source        0.525397
                                          Target        0.503267
                none      random  0       Source        0.358915
                                          Target        0.352005

masakhanews

                                                 accuracy  macro_f1  \
dataset     itc_type  itc_idx itc_num itc_label
masakhanews cross     sbert   3       Source     0.521032  0.469750
                                      Target     0.309041  0.266197
            mono      random  3       Source     0.540962  0.500634
                                      Target     0.301635  0.275527
                      sbert   3       Source     0.489641  0.449491
                                      Target     0.301484  0.271869
            monotrans random  3       Source     0.537309  0.483930
                                      Target     0.260577  0.186201
                      sbert   3       Source     0.510579  0.452393
                                      Target     0.288288  0.264854
            none      random  0       Source     0.495173  0.443690
                                      Target     0.266966  0.197641

                                                 weighted_f1
dataset     itc_type  itc_idx itc_num itc_label
masakhanews cross     sbert   3       Source        0.514745
                                      Target        0.302322
            mono      random  3       Source        0.541375
                                      Target        0.298227
                      sbert   3       Source        0.493777
                                      Target        0.300385
            monotrans random  3       Source        0.527658
                                      Target        0.183690
                      sbert   3       Source        0.498743
                                      Target        0.291845
            none      random  0       Source        0.469955
                                      Target        0.190671

americasnli-spa

                                                     accuracy  macro_f1  \
dataset         itc_type  itc_idx itc_num itc_label
americasnli-spa cross     sbert   3       Source     0.347843  0.334958
                                          Target     0.356898  0.310092
                mono      random  3       Source     0.339293  0.310772
                                          Target     0.331219  0.308905
                          sbert   3       Source     0.351755  0.308019
                                          Target     0.374904  0.346799
                monotrans random  3       Source     0.339802  0.313119
                                          Target     0.330557  0.225455
                          sbert   3       Source     0.352802  0.317509
                                          Target     0.367231  0.356421
                none      random  0       Source     0.327004  0.194415
                                          Target     0.328554  0.218837

                                                     weighted_f1
dataset         itc_type  itc_idx itc_num itc_label
americasnli-spa cross     sbert   3       Source        0.334967
                                          Target        0.310109
                mono      random  3       Source        0.310771
                                          Target        0.308935
                          sbert   3       Source        0.308025
                                          Target        0.346838
                monotrans random  3       Source        0.313142
                                          Target        0.225552
                          sbert   3       Source        0.317521
                                          Target        0.356461
                none      random  0       Source        0.194497
                                          Target        0.218943

nusatranslation

                                                     accuracy  macro_f1  \
dataset         itc_type  itc_idx itc_num itc_label
nusatranslation cross     sbert   3       Source     0.576111  0.568764
                                          Target     0.599167  0.572804
                mono      random  3       Source     0.703333  0.650014
                                          Target     0.663611  0.575045
                          sbert   3       Source     0.577639  0.572278
                                          Target     0.682083  0.579673
                monotrans random  3       Source     0.594306  0.584225
                                          Target     0.692083  0.491876
                          sbert   3       Source     0.718194  0.616683
                                          Target     0.624167  0.588278
                none      random  0       Source     0.563611  0.550469
                                          Target     0.694028  0.494404

                                                     weighted_f1
dataset         itc_type  itc_idx itc_num itc_label
nusatranslation cross     sbert   3       Source        0.583726
                                          Target        0.615604
                mono      random  3       Source        0.706141
                                          Target        0.653810
                          sbert   3       Source        0.584133
                                          Target        0.664926
                monotrans random  3       Source        0.609153
                                          Target        0.622395
                          sbert   3       Source        0.697866
                                          Target        0.637178
                none      random  0       Source        0.580521
                                          Target        0.624453

In [10]:
for dset in df['dataset'].unique():
    print(dset)
    display(df.loc[
        (df['dataset'] == dset) & (df['model_name'] == 'xglm-7.5B'),:
    ].sort_values(['dataset', 'itc_type', 'itc_idx', 'itc_num'], ascending=False).reset_index(drop=True).groupby(
        ['dataset', 'itc_type', 'itc_idx', 'itc_num', 'itc_label']
    )[['accuracy', 'macro_f1', 'weighted_f1']].mean())

americasnli

                                                 accuracy  macro_f1  \
dataset     itc_type  itc_idx itc_num itc_label
americasnli cross     sbert   3       Source     0.339729  0.308738
                                      Target     0.351223  0.322351
            mono      random  3       Source     0.332783  0.323028
                                      Target     0.347899  0.328278
                      sbert   3       Source     0.341750  0.335632
                                      Target     0.354887  0.335756
            monotrans random  3       Source     0.321241  0.303150
                                      Target     0.339223  0.222536
                      sbert   3       Source     0.341961  0.331142
                                      Target     0.357559  0.328131
            none      random  0       Source     0.333956  0.176640
                                      Target     0.331889  0.212176

                                                 weighted_f1
dataset     itc_type  itc_idx itc_num itc_label
americasnli cross     sbert   3       Source        0.308766
                                      Target        0.322366
            mono      random  3       Source        0.323061
                                      Target        0.328294
                      sbert   3       Source        0.335652
                                      Target        0.335774
            monotrans random  3       Source        0.303199
                                      Target        0.222645
                      sbert   3       Source        0.331174
                                      Target        0.328168
            none      random  0       Source        0.176751
                                      Target        0.212288

nusatranslation-ind

                                                         accuracy  macro_f1  \
dataset             itc_type  itc_idx itc_num itc_label
nusatranslation-ind cross     sbert   3       Source     0.542639  0.528322
                                              Target     0.415000  0.408314
                    mono      random  3       Source     0.593611  0.552994
                                              Target     0.389444  0.381364
                              sbert   3       Source     0.584167  0.536941
                                              Target     0.507083  0.499621
                    monotrans random  3       Source     0.510972  0.507533
                                              Target     0.418750  0.407529
                              sbert   3       Source     0.532222  0.524205
                                              Target     0.522778  0.514109
                    none      random  0       Source     0.635417  0.526079
                                              Target     0.451944  0.445041

                                                         weighted_f1
dataset             itc_type  itc_idx itc_num itc_label
nusatranslation-ind cross     sbert   3       Source        0.561886
                                              Target        0.383759
                    mono      random  3       Source        0.607954
                                              Target        0.352695
                              sbert   3       Source        0.596861
                                              Target        0.522164
                    monotrans random  3       Source        0.523641
                                              Target        0.385880
                              sbert   3       Source        0.548406
                                              Target        0.540263
                    none      random  0       Source        0.618864
                                              Target        0.444980

tweetsentimulti

                                                     accuracy  macro_f1  \
dataset         itc_type  itc_idx itc_num itc_label
tweetsentimulti cross     sbert   3       Source     0.459113  0.453703
                                          Target     0.464696  0.447811
                mono      random  3       Source     0.396059  0.372631
                                          Target     0.373892  0.344442
                          sbert   3       Source     0.403777  0.377190
                                          Target     0.421182  0.396038
                monotrans random  3       Source     0.405583  0.386162
                                          Target     0.405090  0.369163
                          sbert   3       Source     0.442365  0.433424
                                          Target     0.448112  0.433525
                none      random  0       Source     0.403941  0.369053
                                          Target     0.403777  0.363678

                                                     weighted_f1
dataset         itc_type  itc_idx itc_num itc_label
tweetsentimulti cross     sbert   3       Source        0.453703
                                          Target        0.447811
                mono      random  3       Source        0.372631
                                          Target        0.344442
                          sbert   3       Source        0.377190
                                          Target        0.396038
                monotrans random  3       Source        0.386162
                                          Target        0.369163
                          sbert   3       Source        0.433424
                                          Target        0.433525
                none      random  0       Source        0.369053
                                          Target        0.363678

masakhanews

                                                 accuracy  macro_f1  \
dataset     itc_type  itc_idx itc_num itc_label
masakhanews cross     sbert   3       Source     0.414223  0.370677
                                      Target     0.276631  0.229645
            mono      random  3       Source     0.367041  0.326019
                                      Target     0.251022  0.218314
                      sbert   3       Source     0.360968  0.331789
                                      Target     0.263621  0.229772
            monotrans random  3       Source     0.395304  0.361637
                                      Target     0.263080  0.175770
                      sbert   3       Source     0.421627  0.378920
                                      Target     0.279008  0.244317
            none      random  0       Source     0.418643  0.381753
                                      Target     0.253255  0.167735

                                                 weighted_f1
dataset     itc_type  itc_idx itc_num itc_label
masakhanews cross     sbert   3       Source        0.406992
                                      Target        0.259428
            mono      random  3       Source        0.356988
                                      Target        0.238769
                      sbert   3       Source        0.362644
                                      Target        0.249635
            monotrans random  3       Source        0.393204
                                      Target        0.184153
                      sbert   3       Source        0.421225
                                      Target        0.265113
            none      random  0       Source        0.395161
                                      Target        0.172457

americasnli-spa

                                                     accuracy  macro_f1  \
dataset         itc_type  itc_idx itc_num itc_label
americasnli-spa cross     sbert   3       Source     0.337700  0.304459
                                          Target     0.345884  0.306762
                mono      random  3       Source     0.340529  0.337250
                                          Target     0.330893  0.312128
                          sbert   3       Source     0.354273  0.337676
                                          Target     0.355555  0.329136
                monotrans random  3       Source     0.340769  0.320947
                                          Target     0.339223  0.221919
                          sbert   3       Source     0.344361  0.323967
                                          Target     0.351230  0.320675
                none      random  0       Source     0.332889  0.171328
                                          Target     0.329556  0.215780

                                                     weighted_f1
dataset         itc_type  itc_idx itc_num itc_label
americasnli-spa cross     sbert   3       Source        0.304484
                                          Target        0.306780
                mono      random  3       Source        0.337263
                                          Target        0.312143
                          sbert   3       Source        0.337697
                                          Target        0.329167
                monotrans random  3       Source        0.320980
                                          Target        0.222029
                          sbert   3       Source        0.324006
                                          Target        0.320714
                none      random  0       Source        0.171441
                                          Target        0.215892

nusatranslation

                                                     accuracy  macro_f1  \
dataset         itc_type  itc_idx itc_num itc_label
nusatranslation cross     sbert   3       Source     0.547500  0.533609
                                          Target     0.504861  0.501013
                mono      random  3       Source     0.508611  0.505284
                                          Target     0.395972  0.388669
                          sbert   3       Source     0.584167  0.536941
                                          Target     0.420833  0.416575
                monotrans random  3       Source     0.628194  0.570368
                                          Target     0.451111  0.443955
                          sbert   3       Source     0.534306  0.526124
                                          Target     0.540556  0.525284
                none      random  0       Source     0.604306  0.530676
                                          Target     0.417639  0.407555

                                                     weighted_f1
dataset         itc_type  itc_idx itc_num itc_label
nusatranslation cross     sbert   3       Source        0.566170
                                          Target        0.518397
                mono      random  3       Source        0.519644
                                          Target        0.361612
                          sbert   3       Source        0.596861
                                          Target        0.397701
                monotrans random  3       Source        0.634837
                                          Target        0.439174
                          sbert   3       Source        0.551386
                                          Target        0.560074
                none      random  0       Source        0.605524
                                          Target        0.388932

In [9]:
for dset in df['dataset'].unique():
    print(dset)
    display(df.loc[
        (df['dataset'] == dset) & (df['model_name'] == 'xglm-7.5B'),:
    ].sort_values(['dataset', 'itc_type', 'itc_idx', 'itc_num'], ascending=False).reset_index(drop=True).groupby(
        ['dataset', 'itc_type', 'itc_idx', 'itc_num', 'itc_label']
    )[['accuracy', 'macro_f1', 'weighted_f1']].mean())

americasnli

                                                 accuracy  macro_f1  \
dataset     itc_type  itc_idx itc_num itc_label
americasnli cross     sbert   3       Source     0.339729  0.308738
                                      Target     0.351223  0.322351
            mono      random  3       Source     0.332783  0.323028
                                      Target     0.347899  0.328278
                      sbert   3       Source     0.341750  0.335632
                                      Target     0.354887  0.335756
            monotrans random  3       Source     0.321241  0.303150
                                      Target     0.339223  0.222536
                      sbert   3       Source     0.341961  0.331142
                                      Target     0.357559  0.328131
            none      random  0       Source     0.333956  0.176640
                                      Target     0.331889  0.212176

                                                 weighted_f1
dataset     itc_type  itc_idx itc_num itc_label
americasnli cross     sbert   3       Source        0.308766
                                      Target        0.322366
            mono      random  3       Source        0.323061
                                      Target        0.328294
                      sbert   3       Source        0.335652
                                      Target        0.335774
            monotrans random  3       Source        0.303199
                                      Target        0.222645
                      sbert   3       Source        0.331174
                                      Target        0.328168
            none      random  0       Source        0.176751
                                      Target        0.212288

nusatranslation-ind

                                                         accuracy  macro_f1  \
dataset             itc_type  itc_idx itc_num itc_label
nusatranslation-ind cross     sbert   3       Source     0.542639  0.528322
                                              Target     0.415000  0.408314
                    mono      random  3       Source     0.593611  0.552994
                                              Target     0.389444  0.381364
                              sbert   3       Source     0.584167  0.536941
                                              Target     0.507083  0.499621
                    monotrans random  3       Source     0.510972  0.507533
                                              Target     0.418750  0.407529
                              sbert   3       Source     0.532222  0.524205
                                              Target     0.522778  0.514109
                    none      random  0       Source     0.635417  0.526079
                                              Target     0.451944  0.445041

                                                         weighted_f1
dataset             itc_type  itc_idx itc_num itc_label
nusatranslation-ind cross     sbert   3       Source        0.561886
                                              Target        0.383759
                    mono      random  3       Source        0.607954
                                              Target        0.352695
                              sbert   3       Source        0.596861
                                              Target        0.522164
                    monotrans random  3       Source        0.523641
                                              Target        0.385880
                              sbert   3       Source        0.548406
                                              Target        0.540263
                    none      random  0       Source        0.618864
                                              Target        0.444980

tweetsentimulti

                                                     accuracy  macro_f1  \
dataset         itc_type  itc_idx itc_num itc_label
tweetsentimulti cross     sbert   3       Source     0.459113  0.453703
                                          Target     0.464696  0.447811
                mono      random  3       Source     0.396059  0.372631
                                          Target     0.373892  0.344442
                          sbert   3       Source     0.403777  0.377190
                                          Target     0.421182  0.396038
                monotrans random  3       Source     0.405583  0.386162
                                          Target     0.405090  0.369163
                          sbert   3       Source     0.442365  0.433424
                                          Target     0.448112  0.433525
                none      random  0       Source     0.403941  0.369053
                                          Target     0.403777  0.363678

                                                     weighted_f1
dataset         itc_type  itc_idx itc_num itc_label
tweetsentimulti cross     sbert   3       Source        0.453703
                                          Target        0.447811
                mono      random  3       Source        0.372631
                                          Target        0.344442
                          sbert   3       Source        0.377190
                                          Target        0.396038
                monotrans random  3       Source        0.386162
                                          Target        0.369163
                          sbert   3       Source        0.433424
                                          Target        0.433525
                none      random  0       Source        0.369053
                                          Target        0.363678

masakhanews

                                                 accuracy  macro_f1  \
dataset     itc_type  itc_idx itc_num itc_label
masakhanews cross     sbert   3       Source     0.414223  0.370677
                                      Target     0.276631  0.229645
            mono      random  3       Source     0.367041  0.326019
                                      Target     0.251022  0.218314
                      sbert   3       Source     0.360968  0.331789
                                      Target     0.263621  0.229772
            monotrans random  3       Source     0.395304  0.361637
                                      Target     0.263080  0.175770
                      sbert   3       Source     0.421627  0.378920
                                      Target     0.279008  0.244317
            none      random  0       Source     0.418643  0.381753
                                      Target     0.253255  0.167735

                                                 weighted_f1
dataset     itc_type  itc_idx itc_num itc_label
masakhanews cross     sbert   3       Source        0.406992
                                      Target        0.259428
            mono      random  3       Source        0.356988
                                      Target        0.238769
                      sbert   3       Source        0.362644
                                      Target        0.249635
            monotrans random  3       Source        0.393204
                                      Target        0.184153
                      sbert   3       Source        0.421225
                                      Target        0.265113
            none      random  0       Source        0.395161
                                      Target        0.172457

americasnli-spa

                                                     accuracy  macro_f1  \
dataset         itc_type  itc_idx itc_num itc_label
americasnli-spa cross     sbert   3       Source     0.337700  0.304459
                                          Target     0.345884  0.306762
                mono      random  3       Source     0.340529  0.337250
                                          Target     0.330893  0.312128
                          sbert   3       Source     0.354273  0.337676
                                          Target     0.355555  0.329136
                monotrans random  3       Source     0.340769  0.320947
                                          Target     0.339223  0.221919
                          sbert   3       Source     0.344361  0.323967
                                          Target     0.351230  0.320675
                none      random  0       Source     0.332889  0.171328
                                          Target     0.329556  0.215780

                                                     weighted_f1
dataset         itc_type  itc_idx itc_num itc_label
americasnli-spa cross     sbert   3       Source        0.304484
                                          Target        0.306780
                mono      random  3       Source        0.337263
                                          Target        0.312143
                          sbert   3       Source        0.337697
                                          Target        0.329167
                monotrans random  3       Source        0.320980
                                          Target        0.222029
                          sbert   3       Source        0.324006
                                          Target        0.320714
                none      random  0       Source        0.171441
                                          Target        0.215892

nusatranslation

                                                     accuracy  macro_f1  \
dataset         itc_type  itc_idx itc_num itc_label
nusatranslation cross     sbert   3       Source     0.547500  0.533609
                                          Target     0.504861  0.501013
                mono      random  3       Source     0.508611  0.505284
                                          Target     0.395972  0.388669
                          sbert   3       Source     0.584167  0.536941
                                          Target     0.420833  0.416575
                monotrans random  3       Source     0.628194  0.570368
                                          Target     0.451111  0.443955
                          sbert   3       Source     0.534306  0.526124
                                          Target     0.540556  0.525284
                none      random  0       Source     0.604306  0.530676
                                          Target     0.417639  0.407555

                                                     weighted_f1
dataset         itc_type  itc_idx itc_num itc_label
nusatranslation cross     sbert   3       Source        0.566170
                                          Target        0.518397
                mono      random  3       Source        0.519644
                                          Target        0.361612
                          sbert   3       Source        0.596861
                                          Target        0.397701
                monotrans random  3       Source        0.634837
                                          Target        0.439174
                          sbert   3       Source        0.551386
                                          Target        0.560074
                none      random  0       Source        0.605524
                                          Target        0.388932

In [26]:
for dset in df['dataset'].unique():
    print(dset)
    display(df.loc[
        (df['dataset'] == dset),:
    ].sort_values(['dataset', 'lang', 'itc_type', 'itc_idx', 'itc_num'], ascending=False).reset_index(drop=True).groupby(
        ['dataset', 'lang', 'itc_type', 'itc_idx', 'itc_num', 'itc_label']
    )[['accuracy', 'macro_f1', 'weighted_f1']].mean())

americasnli

                                                      accuracy  macro_f1  \
dataset     lang itc_type  itc_idx itc_num itc_label
americasnli aym  cross     sbert   3       Source     0.357333  0.273314
                                           Target     0.370667  0.324494
                 mono      random  3       Source     0.326667  0.311243
                                           Target     0.309333  0.300666
                           sbert   3       Source     0.345333  0.310429
...                                                        ...       ...
            tar  mono      random  3       Source     0.360000  0.331034
                           sbert   3       Source     0.349333  0.306043
                 monotrans random  3       Source     0.344000  0.327584
                           sbert   3       Source     0.357333  0.336379
                 none      random  0       Source     0.325333  0.188641

                                                      weighted_f1
dataset     lang itc_type  itc_idx itc_num itc_label
americasnli aym  cross     sbert   3       Source        0.273314
                                           Target        0.324494
                 mono      random  3       Source        0.311243
                                           Target        0.300666
                           sbert   3       Source        0.310429
...                                                           ...
            tar  mono      random  3       Source        0.331034
                           sbert   3       Source        0.306043
                 monotrans random  3       Source        0.327584
                           sbert   3       Source        0.336379
                 none      random  0       Source        0.188641

[84 rows x 3 columns]

nusatranslation-ind

                                                              accuracy  \
dataset             lang itc_type  itc_idx itc_num itc_label
nusatranslation-ind btk  cross     sbert   3       Source     0.685833
                                                   Target     0.585833
                         mono      random  3       Source     0.638333
                                                   Target     0.535833
                                   sbert   3       Source     0.650833
...                                                                ...
                    sun  monotrans random  3       Target     0.688333
                                   sbert   3       Source     0.735000
                                                   Target     0.659167
                         none      random  0       Source     0.533333
                                                   Target     0.678333

                                                              macro_f1  \
dataset             lang itc_type  itc_idx itc_num itc_label
nusatranslation-ind btk  cross     sbert   3       Source     0.611465
                                                   Target     0.565268
                         mono      random  3       Source     0.583328
                                                   Target     0.526441
                                   sbert   3       Source     0.600213
...                                                                ...
                    sun  monotrans random  3       Target     0.520462
                                   sbert   3       Source     0.706826
                                                   Target     0.641133
                         none      random  0       Source     0.532315
                                                   Target     0.552682

                                                              weighted_f1
dataset             lang itc_type  itc_idx itc_num itc_label
nusatranslation-ind btk  cross     sbert   3       Source        0.681442
                                                   Target        0.604193
                         mono      random  3       Source        0.645651
                                                   Target        0.553896
                                   sbert   3       Source        0.658776
...                                                                   ...
                    sun  monotrans random  3       Target        0.637262
                                   sbert   3       Source        0.744240
                                                   Target        0.674250
                         none      random  0       Source        0.541300
                                                   Target        0.650279

[72 rows x 3 columns]

americasnli-spa

                                                          accuracy  macro_f1  \
dataset         lang itc_type  itc_idx itc_num itc_label
americasnli-spa aym  cross     sbert   3       Source     0.357333  0.321332
                                               Target     0.356000  0.276398
                     mono      random  3       Source     0.332000  0.313871
                                               Target     0.333333  0.316297
                               sbert   3       Source     0.369333  0.331556
...                                                            ...       ...
                tar  mono      random  3       Source     0.329333  0.296433
                               sbert   3       Source     0.341333  0.293655
                     monotrans random  3       Source     0.348000  0.320937
                               sbert   3       Source     0.336000  0.302266
                     none      random  0       Source     0.341333  0.217602

                                                          weighted_f1
dataset         lang itc_type  itc_idx itc_num itc_label
americasnli-spa aym  cross     sbert   3       Source        0.321332
                                               Target        0.276398
                     mono      random  3       Source        0.313871
                                               Target        0.316297
                               sbert   3       Source        0.331556
...                                                               ...
                tar  mono      random  3       Source        0.296433
                               sbert   3       Source        0.293655
                     monotrans random  3       Source        0.320937
                               sbert   3       Source        0.302266
                     none      random  0       Source        0.217602

[84 rows x 3 columns]

nusatranslation

                                                          accuracy  macro_f1  \
dataset         lang itc_type  itc_idx itc_num itc_label
nusatranslation btk  cross     sbert   3       Source     0.508333  0.507478
                                               Target     0.544167  0.525008
                     mono      random  3       Source     0.683333  0.627665
                                               Target     0.646667  0.551835
                               sbert   3       Source     0.507500  0.507500
...                                                            ...       ...
                sun  monotrans random  3       Target     0.688333  0.520462
                               sbert   3       Source     0.754167  0.654288
                                               Target     0.672500  0.641089
                     none      random  0       Source     0.610000  0.590790
                                               Target     0.690833  0.520659

                                                          weighted_f1
dataset         lang itc_type  itc_idx itc_num itc_label
nusatranslation btk  cross     sbert   3       Source        0.515926
                                               Target        0.564279
                     mono      random  3       Source        0.686933
                                               Target        0.636702
                               sbert   3       Source        0.507669
...                                                               ...
                sun  monotrans random  3       Target        0.637262
                               sbert   3       Source        0.730784
                                               Target        0.684799
                     none      random  0       Source        0.627289
                                               Target        0.638234

[72 rows x 3 columns]

masakhanews

                                                      accuracy  macro_f1  \
dataset     lang itc_type  itc_idx itc_num itc_label
masakhanews amh  cross     sbert   3       Source     0.340426  0.282941
                                           Target     0.313830  0.309301
                 mono      random  3       Source     0.257979  0.230096
                                           Target     0.297872  0.290406
                           sbert   3       Source     0.265957  0.237487
...                                                        ...       ...
            yor  monotrans random  3       Target     0.177616  0.110499
                           sbert   3       Source     0.632603  0.605428
                                           Target     0.223844  0.214030
                 none      random  0       Source     0.661800  0.670669
                                           Target     0.177616  0.113200

                                                      weighted_f1
dataset     lang itc_type  itc_idx itc_num itc_label
masakhanews amh  cross     sbert   3       Source        0.284057
                                           Target        0.309549
                 mono      random  3       Source        0.229896
                                           Target        0.288645
                           sbert   3       Source        0.241671
...                                                           ...
            yor  monotrans random  3       Target        0.096069
                           sbert   3       Source        0.617700
                                           Target        0.216587
                 none      random  0       Source        0.661422
                                           Target        0.097937

[108 rows x 3 columns]

tweetsentimulti

                                                          accuracy  macro_f1  \
dataset         lang itc_type  itc_idx itc_num itc_label
tweetsentimulti arb  cross     sbert   3       Source     0.513793  0.514501
                                               Target     0.488506  0.440902
                     mono      random  3       Source     0.414943  0.406649
                                               Target     0.350575  0.321950
                               sbert   3       Source     0.516092  0.499507
...                                                            ...       ...
                spa  monotrans random  3       Target     0.465517  0.466526
                               sbert   3       Source     0.578161  0.566051
                                               Target     0.568966  0.568269
                     none      random  0       Source     0.471264  0.434950
                                               Target     0.465517  0.465953

                                                          weighted_f1
dataset         lang itc_type  itc_idx itc_num itc_label
tweetsentimulti arb  cross     sbert   3       Source        0.514501
                                               Target        0.440902
                     mono      random  3       Source        0.406649
                                               Target        0.321950
                               sbert   3       Source        0.499507
...                                                               ...
                spa  monotrans random  3       Target        0.466526
                               sbert   3       Source        0.566051
                                               Target        0.568269
                     none      random  0       Source        0.434950
                                               Target        0.465953

[84 rows x 3 columns]